{% set image_base_class = image_base_class|default('bgimage') %}

<div
  {{ bem(image_base_class, image_modifiers, image_blockname) }}
  style = "
    background-image: url('{{ image_src }}');
    background-repeat: {{ background_repeat }};
    height: {{ height }};
    margin-top: -{{ height }};
  "
></div>
