{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}

{#{% set card_grid_base_class = card_grid_base_class ~ ' ' ~ 'js-view-dom-id-' ~ dom_id|default('ajax-card-grid') %}#}
{% set card_grid_base_class = card_grid_base_class|default('ajax-card-grid') ~ ' js-view-dom-id-' ~ dom_id ~ ' ajax-card-grid-' ~ id %}
{% set ajax_card_grid_heading_base_class = ajax_card_grid_heading_base_class|default('ajax-card-grid__heading') %}
{% set ajax_card_grid_modifiers = ajax_card_grid_modifiers|default(['centered']) %}

{{ attach_library('emulsifymars/ajaxcardgrid') }}

{% if rows -%}
  <section {{ bem(card_grid_base_class) }} data-theme="{{ theme_styles }}">
    <div class="ajax-card-grid__border">
      {{ brand_border | raw }}
    </div>

    <div class="ajax-card-grid__content">
      {% include "@atoms/text/headings/_heading.twig" with {
        heading: ajax_card_grid_heading,
        heading_level: ajax_card_grid_heading_level,
        heading_base_class: ajax_card_grid_heading_base_class
      } %}

      {% include "@atoms/separators/graphic-divider/graphic-divider.twig" with {
        graphic_divider_blockname: 'ajax-card-grid',
        graphic_divider: graphic_divider
      } %}

      <div class="ajax-card-grid__items" data-drupal-views-infinite-scroll-content-wrapper="">
        {% for item in rows[0]['#rows'] %}
          {{ item }}
        {% endfor %}
      </div>

      {{ pager }}

    </div>
  </section>
{% elseif empty -%}
  {{ empty }}
{% endif %}
