{% set recipe_template__base_class = 'recipe-feature-block' %}
{% set icon_clock = icon_clock|default('/' ~ base_path ~ directory ~ '/images/icons/clock.svg') %}
{% set icon_border = icon_border|default('/' ~ base_path ~ directory ~'/images/twix-border-white.svg') %}
<section {{ bem(recipe_template__base_class) }} data-theme="{{ theme_styles }}"
  {% if title and (recipe_media.video_url is not empty) %}
    data-component-title="{{ title }}"
  {% endif %}
>
  {% if block_title %}
    <div {{ bem('title', [], recipe_template__base_class) }}>{{ block_title }}</div>
    <div {{ bem('graphic_divider', [], recipe_template__base_class) }}>{{graphic_divider | raw}}</div>
  {% endif %}

  <div {{ bem('wrapper', [], recipe_template__base_class) }}>
    {# media #}
    <div {{ bem('media', [], recipe_template__base_class, ['media']) }}>
      {% if recipe_media.video_url is not empty %}
        {% block recipe_media_video %}
          {% include "@atoms/video/ambient-video/video.twig" with {
            video__src__url: recipe_media.video_url,
            video__base_class: 'ambient-video',
            video__control: true,
          } %}
        {% endblock %}
      {% else %}
        {% block recipe_media_image %}
          {% set images = {
            1440: recipe_media.src|resizeByHeight(567),
            768: recipe_media.src|resizeByHeight(432),
            375: recipe_media.src|resizeByHeight(211),
          } %}
          {% include "@atoms/images/image/responsive-image.twig" with {
            output_image_tag: true,
            image_alt: recipe_media.alt,
            image_src: recipe_media.src|resizeByHeight(567),
            responsive_image_blockname: 'recipe-media',
            image_array: images,
          } %}
        {% endblock %}
      {% endif %}
    </div>

    {# recipe title and link #}
    <div {{ bem('info', [], recipe_template__base_class) }}>
      <div {{ bem('border', [], recipe_template__base_class) }}>
        {{ brand_borders | raw }}
      </div>
      <div class="eyebrow"
        {% if text_color_override is not empty %}
          style="color: {{ text_color_override }};"
        {% endif %}
      >
        {{ eyebrow}}
      </div>
      <h2 class="title">
        {% include "@atoms/links/link/link.twig" with {
          link_url: cta.url,
          link_content: title,
          link_modifiers: {class: 'title'}
        } %}
      </h2>
      <div class="cta-btn">
        {% set attr = {'href': cta.url} %}
        {% include "@atoms/links/defaultLink/defaultLink.twig" with {
          default_link_content: cta.title,
          default_link_border_radius: 30,
          default_link_attributes: attr
        } %}
      </div>
    </div>
  </div>
</section>
