{% set card__base_class = 'product-card' %}
{% set default_link_content = 'See details'|t %}
{% set link_content = 'Buy now'|t %}
{% set card__extra_classes = ['card-item'] %}

<section {{ bem(card__base_class, card__modifiers, card__blockname, card__extra_classes) }} 
         data-theme="{{ theme_styles }}"
         data-site-search-clicked="{{ item.paragraph_content }}"
         data-card-type="product-card"
         onclick="window.location='{{ item.card_url }}'">

    {% if is_new %}
      {% include "@atoms/badge/badge.twig" %}
    {% endif %}

    {# Eyebrow #}
    {% if card__eyebrow %}
      {% include "@atoms/text/eyebrow/eyebrow.twig" with {
        eyebrow_text: card__eyebrow
      } %}
    {% endif %}

    {% if item.card__image__hover__src %}
      <div {{ bem('img-hover', [], card__base_class) }}>
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_alt: 'Product image',
          image_sizes: '212px',
          image_src: item.card__image__src,
          responsive_image_blockname: 'product-image'
        } %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_alt: 'Product image',
          image_sizes: '212px',
          image_src: item.card__image__hover__src,
          responsive_image_blockname: 'hover-image'
        } %}
      </div>
    {% else %}
      <div {{ bem('image', [], card__base_class) }}>
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_alt: 'Product image',
          image_sizes: '212px',
          image_src: item.card__image__src,
          responsive_image_blockname: 'product-image',
        } %}
      </div>
    {% endif %}

    <div {{ bem('title', [], card__base_class) }}>
      {% include "@atoms/text/text/01-paragraph.twig" with {
        paragraph_size: 'large',
        paragraph_content: item.paragraph_content,
        paragraph_base_class: 'paragraph',
        paragraph_modifiers: ['large']
      } %}
    </div>

    <div {{ bem('link_section', [], card__base_class) }}>
      <div {{ bem('button', [], card__base_class) }}>
        {% include "@atoms/links/defaultLink/defaultLink.twig" with {
          default_link_content: default_link_content,
          default_link_base_class: 'default-link',
          default_link_attributes: item.default_link_attributes
        } %}
      </div>

      <div {{ bem('link', [], card__base_class) }}>
        {% include "@atoms/links/link/link.twig" with {
          link_content: link_content,
          link_url: item.link_url,
          link_base_class: 'text_link',
        } %}
      </div>
    </div>
</section>
