{% set card__base_class = 'product-card' %}
{% set link_content = 'Buy now'|mt %}
{{ attach_library('emulsifymars/product-card') }}

{% set color_section = select__background__color is not empty ? select__background__color : select_background_color %}

{% if color_section == 'color_c' %}
  {% set card__extra_classes = ['card-item', 'bg-color-C', 'bg-gradient-C'] %}
{% elseif color_section == 'color_d' %}
  {% set card__extra_classes = ['card-item', 'bg-color-D', 'bg-gradient-D'] %}
{% elseif color_section == 'color_e' %}
  {% set card__extra_classes = ['card-item', 'bg-color-E', 'bg-gradient-E'] %}
{% else %}
  {% set card__extra_classes = ['card-item'] %}
{% endif %}

<section {{ bem(card__base_class, [], card__blockname, card__extra_classes) }}
         data-theme="{{ theme_styles }}"
         data-site-search-clicked="{{ item.paragraph_content }}"
         data-datalayer-gtin="{{ product_sku }}"
         data-datalayer-taxonomy="{{ datalayer_taxonomy }}"
         data-card-type="product-card">

    {% if is_new %}
      {% include "@atoms/badge/badge.twig" %}
    {% endif %}

    {# Eyebrow #}
    {% if card__eyebrow %}
      {% include "@atoms/text/headings/_heading.twig" with {
        heading: card__eyebrow,
        heading_level: 3,
        heading_base_class: 'eyebrow'
      } %}
    {% endif %}

    {% if brand__shape %}
      <div class="product-card__brand-shape">
        {{ brand__shape | raw }}
      </div>
    {% endif %}

    {% if item.card__image__hover__src %}
      <div {{ bem('img-hover', [], card__base_class) }}>
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_alt: 'Product image',
          image_sizes: '212px',
          image_src: item.card__image__src,
          responsive_image_blockname: 'product-image'
        } %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_alt: 'Product image',
          image_sizes: '212px',
          image_src: item.card__image__hover__src,
          responsive_image_blockname: 'hover-image'
        } %}
      </div>
    {% else %}
      <div {{ bem('image', [], card__base_class) }}>
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_alt: 'Product image',
          image_sizes: '212px',
          image_src: item.card__image__src,
          responsive_image_blockname: 'product-image',
        } %}
      </div>
    {% endif %}

    <div {{ bem('title', [], card__base_class) }}>
      {% include "@atoms/text/text/01-paragraph.twig" with {
        paragraph_size: 'large',
        paragraph_content: item.paragraph_content,
        paragraph_base_class: 'paragraph',
        paragraph_modifiers: ['large']
      } %}
    </div>

    {% if show_rating_and_reviews == true %}
      <div {{ bem('rating', [], card__base_class) }}>
        <div class="inline-rating" data-bv-show="inline_rating" data-bv-product-id="{{ product_sku }}" data-bv-redirect-url="{{ default_link_content }}">
          {{ star | raw }}
          {{ star | raw }}
          {{ star | raw }}
          {{ star | raw }}
          {{ star_half | raw }}
          {% include '@atoms/text/text/07-span.twig' with {
            span_base_class: "score",
            span_content: score
          } %}
          </div>
      </div>
    {% endif %}

    <div {{ bem('link_section', [], card__base_class) }}>
      <div {{ bem('button', [], card__base_class) }}>
        {% include "@atoms/links/defaultLink/defaultLink.twig" with {
          default_link_content: default_link_content,
          default_link_base_class: 'default-link',
          default_link_attributes: item.default_link_attributes
        } %}
      </div>

      <div {{ bem('link', [], card__base_class) }}>
        {% include '@atoms/buttons/where-to-buy/where-to-buy.twig' with {
            product_sku: product_sku,
            commerce_vendor: wtb_commerce_vendor,
            cta_title: link_content,
            button_type: wtb_button_type,
            data_widget_id: wtb_widget_id,
        } %}
      </div>
    </div>
</section>
