{% set card__base_class = 'product-card' %}
{% set card__modificators = [] %}
{% set link_section__modificators = [] %}
{% set link_content = wtb_cta_title ? wtb_cta_title|mt : 'Buy now'|mt %}
{{ attach_library('emulsifymars/product-card') }}

{% set color_section = select__background__color is not empty ? select__background__color : select_background_color %}

{% set bg_color_classes = color_section | bgColorClassMap %}
{% if bg_color_classes is not empty %}
  {% set card__extra_classes = ['card-item'] | merge(bg_color_classes) %}
{% else %}
  {% set card__extra_classes = ['card-item'] %}
{% endif %}

{% if card__eyebrow is not empty %}
  {% set card__modificators = card__modificators | merge(["with-eyebrow"]) %}
{% endif %}

{% if show_rating_and_reviews == true %}
  {% set card__modificators = card__modificators | merge(["with-rating"]) %}
{% endif %}

{% if not wtb_commerce_vendor %}
  {% set link_section__modificators = link_section__modificators | merge(["no-commerce-vendor"]) %}
{% endif %}

<section {{ bem(card__base_class, card__modificators, card__blockname, card__extra_classes) }}
         data-theme="{{ theme_styles }}"
         data-site-search-clicked="{{ item.paragraph_content }}"
         data-datalayer-gtin="{{ product_sku }}"
         data-datalayer-taxonomy="{{ datalayer_taxonomy }}"
         data-card-type="product-card">

  <div {{ bem('hover-helper', [], card__base_class) }}></div>
  <div {{ bem('inner', [], card__base_class) }}>
    {% if is_new %}
      {% include "@atoms/badge/badge.twig" %}
    {% endif %}

    {# Eyebrow #}
    {% if card__eyebrow %}
      {% include "@atoms/text/headings/_heading.twig" with {
        heading: card__eyebrow,
        heading_level: 3,
        heading_base_class: 'eyebrow'
      } %}
    {% endif %}

    {% if brand__shape %}
      <div class="product-card__brand-shape">
        {{ brand__shape | raw }}
      </div>
    {% endif %}

    {% if item.card__image__hover__src %}
      <div {{ bem('img-hover', [], card__base_class) }}>
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_alt: 'Product image',
          image_src: item.card__image__src|resizeWithGravity(255, 255, 'contain', '0.5x0.5'),
          responsive_image_blockname: 'product-image',
          width: '255px',
          height: '255px',
        } %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_alt: 'Product image',
          image_src: item.card__image__hover__src|resizeWithGravity(255, 255, 'contain', '0.5x0.5'),
          responsive_image_blockname: 'hover-image',
          width: '255px',
          height: '255px',
        } %}
      </div>
    {% else %}
      <div {{ bem('image', [], card__base_class) }}>
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_alt: 'Product image',
          image_src: item.card__image__src|resizeWithGravity(255, 255, 'contain', '0.5x0.5'),
          responsive_image_blockname: 'product-image',
          width: '255px',
          height: '255px',
        } %}
      </div>
    {% endif %}

    {% include "@atoms/text/headings/_heading-override-disable.twig" with {
      heading_level: 3,
      heading_base_class: 'title',
      heading_blockname: card__base_class,
      heading: item.paragraph_content
    } %}

    {% if show_rating_and_reviews == true %}
      <div {{ bem('rating', [], card__base_class) }}>
        <div class="inline-rating" data-bv-show="inline_rating" data-bv-product-id="{{ product_sku }}" data-bv-redirect-url="{{ item.default_link_attributes.href }}">
          {{ star | raw }}
          {{ star | raw }}
          {{ star | raw }}
          {{ star | raw }}
          {{ star_half | raw }}
          {% include '@atoms/text/text/07-span.twig' with {
            span_base_class: "score",
            span_content: score
          } %}
          </div>
      </div>
    {% endif %}

    <div {{ bem('link_section', link_section__modificators, card__base_class) }}>
      <div {{ bem('button', [], card__base_class) }}>
        {% include "@atoms/links/defaultLink/defaultLink.twig" with {
          default_link_content: default_link_content,
          default_link_base_class: 'default-link',
          default_link_attributes: item.default_link_attributes
        } %}
      </div>

      {% if wtb_commerce_vendor %}
        <div {{ bem('link', [], card__base_class) }}>
          {% include "@atoms/buttons/where-to-buy/where-to-buy.twig" with {
            product_sku: product_sku,
            commerce_vendor: wtb_commerce_vendor,
            cta_title: link_content,
            button_type: wtb_button_type,
            data_widget_id: wtb_widget_id,
            data_display: wtb_display,
            wtb_manual_link_info: wtb_manual_link_info,
            price_spider_link_info: price_spider_link_info,
            mik_mak_link_info: mik_mak_link_info,
            where_to_buy_button_type: (wtb_button_class)? wtb_button_class : 'link'
          } %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
