{#
/**
 * @file
 * Imlementation of the Lighthouse Gallery Item.
 *
 * It is created in order to handle chechboxes/radio buttons a side with preview image.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 * - uri: URI of the preview image.
 * - alt: Alt attribute of the preview image.
 * - label: Field label text
 * - label_for: HTML id of the element to attach this label to.
 *
 * @see mars_lighthouse_preprocess_lighthouse_gallery_item()
 *
 * @ingroup themeable
 */
#}

<div class="lighthouse-gallery__item clearfix">
  <input{{ attributes }} />{{ children }}
  <label for="{{ label_for }}" class="clearfix">
    <figure class="{{ class_asset_type }}">
      <img src="{{ uri }}" alt="{{ alt }}">
      <figcaption title="{{ label }}">
        {{ label }}
      </figcaption>
    </figure>
  </label>
</div>
