{{ attach_library('emulsifymars/recipe-hero-module') }}
{% set recipe_template__base_class = 'recipe-detail' %}
{% set icon_clock = icon_clock|default('/' ~ base_path ~ directory ~ '/images/icons/clock.svg') %}
{% set icon_ingredients = icon_ingredients|default('/' ~ base_path ~ directory ~ '/images/icons/ingredients.svg') %}
{% set icon_makes = icon_makes|default('/' ~ base_path ~ directory ~'/images/icons/makes.svg') %}
{% set icon_border = icon_border|default('/' ~ base_path ~ directory ~'/images/twix-border-white.svg') %}
{% set clock_alt = 'clock' | mt %}
{% set ingredients_alt = 'ingredients' | mt %}
{% set makes_alt = 'makes' | mt %}

<div class="recipe-header" data-theme="{{ theme_styles }}">
    <div class="recipe-header__background"
      {% if background_color_override %}
        style="background-color: {{ '#' ~ background_color }}"
      {% endif %}
    >
      {% if brand_shape_enabled %}
        <div class="recipe-header__brand-shape">
          {{ brand_shape | raw }}
        </div>
      {% endif %}
    </div>
  <div class="recipe-header__content">
    <div class="recipe-header__title">{{ "Recipe" | mt }}</div>
    <div class="recipe-header__text">{{ recipe_header_text }}</div>
  </div>
</div>

<div class="recipe-media" data-theme="{{ theme_styles }}"
  {% if recipe_header_text and video_src %}
    data-component-title="{{ recipe_header_text }}"
  {% endif %}
>
  {% if video_src %}
    {% block recipe_media_video %}
      {% include "@atoms/video/ambient-video/video.twig" with {
        video__src__url: video_src,
        video__base_class: 'ambient-video',
        video__control: true,
      } %}
    {% endblock %}
  {% else %}
    <div class="recipe-media__image-wrapper" style="background-image: url('{{ image.url }}')">
    </div>
  {% endif %}
  <div class="recipe-media__info">
    {% block brand_border %}
      <div {{ bem('border', [], 'recipe-media') }}>
        {{ brand_borders | raw }}
      </div>
    {% endblock %}
    <div class="recipe-details">
      <div class="recipe-details-item">
        <div class="recipe-details-item__icon-container">
          {% include "@atoms/images/image/_image.twig" with {
            image_base_class: 'recipe-details-item__icon',
            image_modifiers: ['clock'],
            image_alt: clock_alt,
            image_src: icon_clock,
          } %}
        </div>
        <div class="recipe-details-item__info">
          <div class="recipe-details-item__label">{{ 'Time'|mt }}</div>
          <div class="recipe-details-item__value">{{ recipe_cooking_time ~ ' mins'|mt}}</div>
        </div>
      </div>
      <div class="recipe-details-item">
        <div class="recipe-details-item__icon-container">
          {% include "@atoms/images/image/_image.twig" with {
            image_base_class: 'recipe-details-item__icon',
            image_modifiers: ['ingredients'],
            image_alt: ingredients_alt,
            image_src: icon_ingredients,
          } %}
        </div>
        <div class="recipe-details-item__info">
          <div class="recipe-details-item__label">{{ 'Ingredients'|mt }}</div>
          <div class="recipe-details-item__value">{{ recipe_ingredients_number ~ ' items'|mt}}</div>
        </div>
      </div>
      <div class="recipe-details-item">
        <div class="recipe-details-item__icon-container">
          {% include "@atoms/images/image/_image.twig" with {
            image_base_class: 'recipe-details-item__icon',
            image_modifiers: ['makes'],
            image_alt: makes_alt,
            image_src: icon_makes,
          } %}
        </div>
        <div class="recipe-details-item__info">
          <div class="recipe-details-item__label">{{ 'Makes'|mt }}</div>
          <div class="recipe-details-item__value">{{ recipe_number_of_servings ~ ' servings'|mt}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="recipe-info" data-theme="{{ theme_styles }}">
  <div class="recipe-info__text">{{ recipe_description_text }}</div>
  <div class="recipe-info__social">
    <div class="recipe-info__social-text">{{ 'Share' | mt }}</div>
    {% block recipe_social_menu %}
      {% include "@molecules/menus/social/social-menu.twig" with {
        social_menu_items: social_menu_items,
      } %}
    {% endblock %}
  </div>
</div>
