{% set recipe_template__base_class = 'recipe-detail' %}
{% set icon_border = icon_border|default('/' ~ base_path ~ directory ~'/images/twix-border-white.svg') %}
{% set clock_alt = 'clock' | mt %}
{% set ingredients_alt = 'ingredients' | mt %}
{% set makes_alt = 'makes' | mt %}
{% if background_color %}
  {% set background_color = background_color %}
{% else %}
  {% set background_color = recipe_hero_module_background_color %}
{% endif %}


<div class="recipe-header" data-theme="{{ theme_styles }}">
    <div class="recipe-header__background"
      {% if select_background_color|length > 0 %}
        style="background-color: {{ 'var(' ~ select_background_color ~ ')' }}"
      {% elseif background_color_override %}
        style="background-color: {{ background_color }}"
      {% endif %}
    >
      {% if brand_shape_enabled %}
        <div class="recipe-header__brand-shape">
          {{ brand_shape | raw }}
        </div>
      {% endif %}
    </div>
  <div class="recipe-header__content">
    <div class="recipe-header__title">{{ "RECIPE" | mt }}</div>
    <h1 class="recipe-header__text">{{ recipe_header_text }}</h1>
  </div>
</div>

<div class="recipe-media" data-theme="{{ theme_styles }}"
  {% if recipe_header_text and video_src %}
    data-component-title="{{ recipe_header_text }}"
  {% endif %}
>
  {% if video_src and videoEnableIndicator %}
    {% block recipe_media_video %}
      <div {{ bem('video', [], 'recipe-media') }}>
        {% include "@atoms/video/ambient-video/video.twig" with {
          video__src__url: video_src,
          video__base_class: 'ambient-video',
          video__control: true,
        } %}
      </div>
    {% endblock %} 
  {% else %}
    <div class="recipe-media__image-wrapper">
      {% set images_array = {
        1440: images.desktop.src|resize(1360,583),
        1024: images.tablet.src|resize(944,566),
        768: images.tablet.src|resize(688,410),
        375: images.mobile.src|resize(335,251),
      } %}
      {% include "@atoms/images/image/responsive-image.twig" with {
        output_image_tag: false,
        image_alt: images.desktop.alt,
        image_src: images.desktop.src|resize(1360,583),
        image_array: images_array,
      } %}
    </div>
  {% endif %}
  <div class="recipe-media__info">
    {% block brand_border %}
      <div {{ bem('border', [], 'recipe-media') }}>
        {{ brand_borders | raw }}
      </div>
    {% endblock %}
    <div class="recipe-details">
      <div class="recipe-details-item">
        <div class="recipe-details-item__icon-container">
          <svg viewBox="0 0 34 40" class="recipe-details-item__icon recipe-details-item__icon--clock">
            <path fill-rule="evenodd" d="M15.874 2.684V6.58C7.01 7.142 0 14.289 0 23.022 0 32.122 7.611 39.5 17 39.5s17-7.377 17-16.478c0-8.733-7.01-15.88-15.873-16.442V2.684h7.377c.622 0 1.126-.489 1.126-1.092C26.63.989 26.126.5 25.504.5H9.063c-.622 0-1.126.489-1.126 1.092 0 .603.504 1.092 1.126 1.092h6.81zM2.254 23.022C2.253 15.128 8.855 8.728 17 8.728s14.747 6.4 14.747 14.294c0 7.895-6.603 14.294-14.747 14.294s-14.747-6.4-14.747-14.294zm15.874-8.547c0-.604-.505-1.092-1.127-1.092s-1.127.489-1.127 1.092v8.143l-6.722 6.467c-.441.425-.444 1.117-.005 1.545.438.428 1.151.43 1.593.005l7.055-6.788c.213-.205.333-.484.333-.774v-8.598z" clip-rule="evenodd"/>
          </svg>
        </div>
        <div class="recipe-details-item__info">
          <div class="recipe-details-item__label">{{ recipe_cooking_time_label|mt }}</div>
          <div class="recipe-details-item__value">{{ recipe_cooking_time|mt }}</div>
        </div>
      </div>
      <div class="recipe-details-item">
        <div class="recipe-details-item__icon-container">
          <svg viewBox="0 0 39 38" class="recipe-details-item__icon recipe-details-item__icon--ingredients">
            <path  fill-rule="evenodd" d="M8.97.455c1.68-.99 3.869-.3 4.637 1.462l2.472 5.667c.63 1.444.075 3.12-1.3 3.931L12.26 13c-1.288.76-2.942.55-3.988-.506L3.818 7.995C2.377 6.54 2.695 4.155 4.47 3.11L8.97.455zm2.658 2.285c-.256-.588-.986-.818-1.546-.488l-4.5 2.654c-.592.35-.698 1.144-.218 1.63l4.456 4.497c.348.352.9.422 1.329.169l2.517-1.485c.459-.27.643-.829.434-1.31L11.628 2.74zm27.057 10.968c.42-.41.42-1.075 0-1.485-.42-.41-1.101-.41-1.521 0l-7.78 7.595c-.03.03-.058.06-.083.092h-9.985c-.019-.074-.046-.148-.083-.219l-1.637-3.198c-.266-.518-.912-.729-1.444-.47-.53.26-.746.89-.48 1.41l1.268 2.477H0v6.539C0 32.829 5.297 38 11.831 38H26.35c6.534 0 11.83-5.172 11.83-11.551V19.91h-5.847l6.352-6.202zM2.151 26.448c0 5.22 4.334 9.452 9.68 9.452H26.35c5.346 0 9.68-4.232 9.68-9.451V22.01H2.15v4.439zm15.962-14.866c-.394-.434-1.074-.475-1.518-.09-.445.385-.486 1.048-.092 1.482l2.335 2.574c.394.434 1.074.475 1.518.09.445-.384.486-1.048.092-1.482l-2.335-2.574zm-6.023 3.627c.536-.25 1.178-.029 1.434.494l.79 1.613c.257.523.03 1.15-.506 1.4s-1.178.03-1.434-.494l-.79-1.612c-.257-.524-.03-1.15.506-1.4z" clip-rule="evenodd"/>
          </svg>
        </div>
        <div class="recipe-details-item__info">
          <div class="recipe-details-item__label">{{ recipe_ingredients_label|mt }}</div>
          <div class="recipe-details-item__value">{{ recipe_ingredients_number ~ ' ' ~ recipe_ingredients_measure |mt}}</div>
        </div>
      </div>
      <div class="recipe-details-item">
        <div class="recipe-details-item__icon-container">
          <svg viewBox="0 0 45 28" class="recipe-details-item__icon recipe-details-item__icon--makes">
            <path fill-rule="evenodd" d="M19.667 2.109c-.587 0-1.063.472-1.063 1.054v.645h8.618v-.645c0-.582-.476-1.054-1.063-1.054h-6.492zm-3.188 1.054v.646c-6.372.094-11.51 5.25-11.51 11.597v3.632H2.127c-1.445 0-2.469 1.401-2.019 2.764l1.565 4.745c.286.867 1.1 1.453 2.02 1.453h37.417c.89 0 1.685-.55 1.993-1.379l1.765-4.744c.512-1.377-.515-2.84-1.994-2.84h-2.017v-3.631c0-6.347-5.137-11.503-11.51-11.597v-.646C29.347 1.416 27.92 0 26.16 0h-6.492c-1.76 0-3.188 1.416-3.188 3.163zM7.095 15.406c0-5.241 4.28-9.49 9.561-9.49H29.17c5.28 0 9.561 4.249 9.561 9.49v3.632H7.094v-3.632zm-2.125 5.74H2.126l1.565 4.745H41.11l1.764-4.745H4.97z" clip-rule="evenodd"/>
          </svg>
        </div>
        <div class="recipe-details-item__info">
          <div class="recipe-details-item__label">{{ recipe_number_of_servings_label|mt }}</div>
          <div class="recipe-details-item__value">{{ recipe_number_of_servings ~ ' ' ~ recipe_number_of_servings_measure|mt}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="recipe-info" data-theme="{{ theme_styles }}">
  <div class="recipe-info__text">{{ recipe_description_text }}</div>
  <div class="recipe-info__social">
    <div class="recipe-info__social-text">{{ social_text }}</div>
    {% block recipe_social_menu %}
      {% include "@molecules/menus/social/social-menu.twig" with {
        social_menu_items: social_menu_items,
      } %}
    {% endblock %}
    {% if email_recipe.email_hint %}
       <div class="social-info__text">{{ email_recipe.email_hint }}</div>
    {% endif %}
  </div>
</div>

{% include "@molecules/recipe-email-form/recipe-email-form-layout/recipe-email-form-layout.twig" %}
