{% set faq_filters_base_class = faq_base_class|default('faq-filters') %}
{% set filter_results_state = search_result_text is not empty ? 'active' : '' %}
{% set faq_filters_state = search_result_counter > 0 ? 'active' : '' %}

<div {{bem(faq_filters_base_class)}} data-theme={{theme_styles}}>


  {% block faq_filters__search %}
  <div class="search-input-wrapper">
    <div {{ bem('search', [], faq_filters_base_class) }}>
      <div class="search-input mars-search-form">
        {{ search_form }}
      </div>
    </div>
    <div class="mars-search-autocomplete-suggestions-wrapper">
      <div class="autocomplete-border"></div>
      <div class="mars-suggestions">
        {% include "@atoms/lists/ul.twig" with {
          ul_items: search_results,
        } %}
      </div>
    </div>
  </div>

  <div {{ bem('search-results', [], faq_filters_base_class, [filter_results_state]) }} >
    {{ search_result_counter }} {{search_result_text}}
  </div>

  {% endblock %}

  {% block faq_filters__filters %}
    <div {{ bem('filters', [], faq_filters_base_class, [faq_filters_state]) }}>
      {% for link in facetLinks %}
        {% include "@atoms/links/defaultLink/defaultLink.twig" with {
          default_link_base_class: link.class,
          default_link_content: link.text,
          default_link_attributes: link.attr
        } %}
      {% endfor %}
    </div>
  {% endblock %}
</div>
