{{ attach_library('emulsifymars/media-carousel') }}
{% set carousel_base_class = carousel_base_class|default('carousel') %}
{% if heading %}
  {% set heading = heading %}
{% else %}
  {% set heading = storybook_media_carousel_heading %}
{% endif %}
{% if items %}
  {% set items = items %}
{% else %}
  {% set items = storybook_media_carousel_items %}
{% endif %}

<section {{ bem(carousel_base_class) }} data-theme="{{ theme_styles }}">
  <div {{ bem('heading', [], carousel_base_class) }}>
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: 1,
      heading_base_class: 'carousel__heading',
      heading_modifiers: ['main-heading'],
      heading: heading
    } %}
  </div>

  <div class="swiper-container carousel-container">
    <div class="swiper-wrapper">
      {% for item in items %}
        <div class="swiper-slide"
          {% if item.content and item.video %}
            data-component-title="{{ item.content }}"
          {% endif %}
        >
          {% if item.image %}
            {% set images = {
              1440: item.src|resize(1128, 666),
              1024: asset_2|resize(1024,550),
              768: item.src|resize(768, 434),
              375: item.src|resize(375, 250),
            } %}
            <div {{ bem('aspect-ratio-wrapper', ['16-9']) }}>
              {% include "@atoms/images/image/_image.twig" with {
                image_base_class: base_class,
                image_modifiers: image_modifiers,
                image_blockname: image_blockname,
                image_array: images,
                image_src: item.src|resize(1128, 666),
                image_alt: item.alt,
                image_title: item.title,
              } %}
            </div>
          {% elseif item.video %}
            {% include "@atoms/video/overlay-video/video.twig" with {
              video__src__url: item.src,
              video__control: true,
              hide_volume: item.hide_volume,
            } %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div {{ bem('divider', [], carousel_base_class) }} >
      {{ brand_borders | raw }}
    </div>
    <div class="swiper-button-prev">
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_base_class: "icon",
        icon_blockname: "swiper-button-prev",
        icon_name: "carousel_arrow_prev",
        icon_decorative: true,
      } %}
    </div>
    <div class="swiper-button-next">
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_base_class: "icon",
        icon_blockname: "swiper-button-next",
        icon_name: "carousel_arrow_next",
        icon_decorative: true,
      } %}
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
  <div {{ bem('content', [], carousel_base_class) }}>
    <div class="swiper-container carousel-description-container">
      <div class="swiper-wrapper">
        {% for item in items %}
          <div class="swiper-slide">
            {% include "@atoms/text/text/01-paragraph.twig" with {
              paragraph_size: paragraph_size,
              paragraph_content: item.content,
              paragraph_base_class: paragraph_base_class,
              paragraph_modifiers: paragraph_modifiers
            } %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>  