{#
/**
 * Available variables:
 * - where_to_buy_base_class -
 * - product_sku -
 * - commerce_vendor -
 * - data_widget_id -
 * - reference_for_analitics -
 * - cta_title -
 * - button_type -
 * - data_display -
 *
 */
#}
{% set where_to_buy_base_class = where_to_buy_base_class|default('where-to-buy') %}
{% if product_sku is not empty %}
  <div id="smart-cart" data-sc-type="ec"></div>
  <div {{ bem(where_to_buy_base_class, where_to_buy_modifiers, where_to_buy_blockname) }}>
    {% if data_display == 'product_card' %}
      <div data-sc-id="{{ data_widget_id }}"  data-sc-type="SmartButton" data-sc-upc="{{ product_sku }}"></div>
    {% else %}
      <div data-sc-id="{{ data_widget_id }}" data-sc-upc="{{ product_sku }}"></div>
    {% endif %}
  </div>
{% endif %}
