{{ attach_library('emulsifymars/overlay-video') }}
{% set story_highlight_base_class = story_highlight_base_class|default('story-highlight') %}
{% set divider = '<div class=divider>'~divider~'</div>' %}
{% set border_overflow = overlaps_previous ? '' : 'no-overflow' %}

<section id="story-highlight" {{ bem(story_highlight_base_class, []) }} data-theme="{{ theme_styles }}">
  {% if brand_borders is not empty %}
    {% block brand_border %}
      <div {{  bem('border', [border_overflow], story_highlight_base_class)  }}>
        {{ brand_borders | raw }}
      </div>
    {% endblock %}
  {% endif %}

  <div class="story-highlight__content {{default_link_modifier}}">
    <div class="story-highlight__contentbg">
      {% include "@atoms/text/headings/_heading.twig" with {
        heading: heading,
        heading_level: heading_level|default(2),
        text_color_override: text_color_override
      } %}

      <div class="graphic_divider">
        {{graphic_divider | raw}}
      </div>

      {% include "@atoms/text/text/01-paragraph.twig" with {
        paragraph_content: story_highlight_paragraph_content,
        paragraph_base_class: story_highlight_paragraph_base_class|default('story-highlight__paragraph'),
        text_color_override: text_color_override
      } %}

      <div class="white-background"></div>

      <div class="media_items_wrapper">
        <div class="media_items">
        {% for item in items %}
          <div class="media_item_{{loop.index}}"
            {% if item.title and item.video %}
              data-component-title="{{ item.title }}"
            {% endif %}
          >
            {% if loop.index == 2  %}
              <div class="story-highlight__brand-shape_1">
                {% set brand_shape_1 = {
                  1440: asset_1|resize(242, 242),
                  768: asset_1|resize(196, 196),
                  375: asset_1|resize(124, 124),
                } %}
                {% include "@atoms/images/image/responsive-image.twig" with {
                  output_image_tag: true,
                  image_alt: asset_1_alt,
                  image_src: asset_1,
                  image_array: brand_shape_1,
                  height: '242px',
	                width: '242px',
                } %}
              </div>
            {% endif %}
            <div class="media_item_{{loop.index}}__wrapper">
            {% if item.image %}
              {% if loop.index is same as(2) %}
                {% set images = {
                  1440: item.src|resize(433, 325),
                  768: item.src|resize(334, 251),
                  375: item.src|resize(190, 143),
                } %}
                <div {{ bem('aspect-ratio-wrapper', ['4-3', 'full-width']) }}>
                  {% include "@atoms/images/image/_image.twig" with {
                    image_base_class: item.base_class,
                    image_modifiers: image_modifiers,
                    image_blockname: image_blockname,
                    image_src: item.src|resize(433, 325),
                    image_alt: item.alt,
                    image_title: item.title,
                    image_array: images,
                  } %}
                </div>
              {% else %}
                {% set images = {
                  1440: item.src|resize(781, 439),
                  768: item.src|resize(688, 387),
                  375: item.src|resize(355, 188),
                } %}
                <div {{ bem('aspect-ratio-wrapper', ['16-9', 'full-width']) }}>
                  {% include "@atoms/images/image/_image.twig" with {
                    image_base_class: item.base_class,
                    image_modifiers: image_modifiers,
                    image_blockname: image_blockname,
                    image_src: item.src|resize(781, 439),
                    image_alt: item.alt,
                    image_title: item.title,
                    image_array: images,
                  } %}
                </div>
              {% endif %}
            {% elseif item.video %}
              <div {{ bem('aspect-ratio-wrapper', ['16-9', 'full-width']) }}>
                {% include "@atoms/video/overlay-video/video.twig" with {
                  video__src__url: item.src,
                  video__control: true,
                  hide_volume: item.hide_volume,
                } %}
              </div>
            {% endif %}

            </div>

            {% include "@atoms/text/text/01-paragraph.twig" with {
              paragraph_size: paragraph_size,
              paragraph_content: item.content,
              paragraph_base_class: paragraph_base_class,
              paragraph_modifiers: paragraph_modifiers,
              text_color_override: text_color_override
            } %}
          </div>
        {% endfor %}

        <div class="story-highlight__brand-shape_2">
          {% set brand_shape_2 = {
            1440: asset_2|resize(443, 443),
            1024: asset_2|resize(344, 344),
            768: asset_2|resize(237, 237),
            375: asset_2|resize(153, 153),
          } %}
            {% include "@atoms/images/image/responsive-image.twig" with {
            output_image_tag: true,
            image_alt: asset_2_alt,
            image_src: asset_2,
            image_array: brand_shape_2,
            height: '443px',
  	        width: '443px',
          } %}
        </div>

        <div class="story-highlight__brand-shape_3">
          {% set brand_shape_3 = {
            1440: asset_3|resize(356, 356),
            768: asset_3|resize(314, 314),
            375: asset_3|resize(182, 182),
          } %}
          {% include "@atoms/images/image/responsive-image.twig" with {
            output_image_tag: true,
            image_alt: asset_3_alt,
            image_src: asset_3|resize(356, 356),
            image_array: brand_shape_3,
            height: '356px',
  	        width: '356px',
          } %}
        </div>

        </div>
      </div>

      {% if story_highlight_button_link_attributes.href %}
        <div class="cta_wrapper">
          {% include "@atoms/links/defaultLink/defaultLink.twig" with {
            default_link_content: story_highlight_button_text,
            default_link_attributes: story_highlight_button_link_attributes,
            default_link_modifiers: story_highlight_button_modifiers
          } %}
        </div>
      {% endif %}
    </div>
  </div>
</section>