{{ attach_library('emulsifymars/story_higlight') }}
{% set story_highlight_base_class = story_highlight_base_class|default('story-highlight') %}
{% set divider = '<div class=divider>'~divider~'</div>' %}

<section id="story-highlight" {{ bem(story_highlight_base_class) }} data-theme="twix">
  <div class="curve">
    {{ brand_borders | raw }}
  </div>

  {% include "@atoms/text/headings/_heading.twig" with {
    heading: heading,
    heading_level: heading_level,
  } %}

    <div class="graphic_divider">
      {{graphic_divider | raw}}
    </div>

    {% include "@atoms/text/text/01-paragraph.twig" with {
      paragraph_content: story_highlight_paragraph_content,
      paragraph_base_class: story_highlight_paragraph_base_class
    } %}
    <div class="media_items">
    {% for item in items %}
        {% if item.image %}
          <div class="one_item">
          {% include "@atoms/images/image/_image.twig" with {
            image_base_class: item.base_class,
            image_modifiers: image_modifiers,
            image_blockname: image_blockname,
            image_src: item.src,
            image_alt: item.alt,
            image_title: item.title,
          } %}

        {% elseif item.video %}
          {% include "@atoms/video/fullscreen-video/video.twig" with {
            video__src__url: item.src
          } %}
          <button {{ bem('control', [], 'video') }} id="fullscreen-play" type="button" data-state="play"><div {{ bem('control', ['inner'], 'video') }}/></button>
        {% endif %}

        {% include "@atoms/text/text/01-paragraph.twig" with {
          paragraph_size: paragraph_size,
          paragraph_content: item.content,
          paragraph_base_class: paragraph_base_class,
          paragraph_modifiers: paragraph_modifiers
        } %}
        </div>
    {% endfor %}
    </div>


</section>
