{% set header__base_class = 'header' %}
{# If `directory` is defined, set the path relative for Drupal.
 # Otherwise, set the path relative to the Component Library. #}
{% set header__logo_src = directory ? '/' ~ directory ~ '/images/mars_logo.png' : 'images/mars_logo.png' %}

<header {{ bem(header__base_class) }} data-theme="{{ theme_styles }}" style="
  {% if text_color_override is not empty %}
    --c-text-color-override: {{ text_color_override }};
  {% endif %}
  {% if hover_color is not empty %}
    --c-hover-color: {{ hover_color }};
  {% endif %}
  {% if override_mobile_menu_colors is not empty %}
    --c-mobile-main-menu-items-color: {{ mobile_main_menu_items_color }};
    --c-mobile-cross-hamburger: {{ mobile_cross_hamburger }};
    --c-mobile-sub-menu-items-color: {{ mobile_sub_menu_items_color }};
    --c-mobile-search-right-menu-section: {{ mobile_search_right_menu_section }};
  {% endif %}
  {% if alert_banner_override_color is not empty %}
    --c-alert-banner-bg-color: {{ alert_banner_bg_color }};
    --c-alert-banner-text-color: {{ alert_banner_text_color }};
  {% endif %}
">
  {#
    Keyboard navigation/accessibility link to main content section in
    page.html.twig.
  #}
  <div id="skip-link" tabindex="-1">
    <a href="#main-content" class="sronly sronly-focusable">
      {{ 'Skip to main content'|t }}
    </a>
  </div>
  <div {{ bem('inner', [], header__base_class) }}>
    <div {{ bem('primary', [], header__base_class) }} id="header-menu-trigger">
      <div {{ bem('primary-container', [], header__base_class) }}>
        <div {{ bem('branding', [], header__base_class) }}>
          {% block header__branding %}
          <div {{ bem('logo', [], header__base_class) }}>
            {% embed "@atoms/links/link/link.twig" with {
              link_modifiers: ['logo'],
              link_url: logo_link__url|default('/'),
              text_color_override: false,
            } %}
              {% block link_content %}
                {% set images = {
                  1440: logo_src|resize(212, 98),
                  768: logo_src|resize(141, 53),
                  375: logo_src|resize(104, 39),
                } %}
                {% include "@atoms/images/image/responsive-image.twig" with {
                  output_image_tag: true,
                  image_alt: 'Logo',
                  image_src: logo_src|resize(212, 98),
                  responsive_image_blockname: 'logo',
                  image_array: images,
                } %}
              {% endblock %}
            {% endembed %}
          </div>
          {% endblock %}
        </div>
        <div {{ bem('menu', [], header__base_class) }}>
          {% block header__menu %}
            {% include "@molecules/menus/main-menu/main-menu.twig" with {
              menu_class: 'header-primary-menu',
              items: menu_items,
              header_inline_menu_items: header_inline_menu_items,
              text_color_override: false,
            } %}
          {% endblock %}
        </div>
        <nav {{ bem('menu', ['secondary'], header__base_class) }} role="navigation">
          {% block header__menu_secondary %}
            {% include "@molecules/menus/inline/header-inline-menu/header-inline-menu.twig" with {
              menu_class: 'header-secondary-menu',
              header_inline_menu_items: header_inline_menu_items,
            } %}
            {% if search_enabled %}
              {% include "@molecules/search/inline-search/inline-search.twig" with {
                inline_search__modifiers: ['searchbtn'],
                inline_search_title: search_title ,
                inline_search_url: '#',
                inline_search_icon: 'search',
                text_color_override: false,
              } %}
            {% endif %}
          {% endblock %}
        </nav>
      </div>
    </div>
    <div {{ bem('secondary', [], header__base_class) }}>
      {% block header__secondary %}
        {% if alert_banner is not empty %}
          {% include "@molecules/status/status.twig" with {
            message_list: { alert: { message: alert_banner} },
            message_url: alert_banner_url,
          }%}
        {% endif %}
      {% endblock %}
    </div>
    {% if search_enabled %}
      {% block search_results %}
        {% include "@molecules/search/search-overlay/search-overlay.twig" with {
          search_results: search_form,
          search_close_label: search_close_label,
          logo_src: logo_src,
          logo_srcset: logo_srcset,
          text_color_override: false
        }%}
      {% endblock %}
    {% endif %}
  </div>
</header>
