{% set bg_video_base_class = bg_video_base_class|default('video-player') %}
{% set bg_video_preload = bg_video_preload|default('auto') %}
{% set bg_video_width = bg_video_width|default('100%') %}
{% set bg_video_muted = bg_video_muted|default(true) %}
{% set bg_video_autoplay = bg_video_autoplay|default(true) %}

<video
  {{ bem(bg_video_base_class, bg_video_modifiers) }}
  preload={{bg_video_preload}}
  width={{bg_video_width}} 
  muted={{bg_video_muted}} 
  autoplay={{bg_video_autoplay}}
  id="video-player"
>
  <source src="{{bg_video_src}}" type="{{bg_video_type}}" />
</video>
<button id="video-button" class="video-button">||</button>
