{#
/**
 * @file
 * Template for the entry gate.
 *
 * Available variables:
 * - title:  Title for entry gate.
 * - description: Description for entry gate.
 * - heading:  Heading for entry gate.
 * - marketing_message: Marketing message for entry gate.
 * - minimum_age: The minimum age requirement as integer.
 * - error_title: Error title for entry gate.
 * - error_message: Error message for entry gate.
 * - error_link_1: Link 1 for error page.
 * - error_link_2: Link 2 for error page.
 *
 */
#}

<div>
  <h2>ENTRY GATE</h2>
  <ul>
    <li>title: {{ title }}</li>
    <li>description: {{ description }}</li>
    <li>heading: {{ heading }}</li>
    <li>marketing_message: {{ marketing_message }}</li>
    <li>minimum_age: {{ minimum_age }}</li>
    <li>error_title: {{ error_title }}</li>
    <li>error_message: {{ error_message }}</li>
  </ul>
</div>

