{% set article_header = 'article-header-image' %}
{% if heading %}
  {% set heading = heading %}
{% else %}
  {% set heading = storybook_article_header_heading %}
{% endif %}

<div {{ bem(article_header) }} data-theme="{{ theme_styles }}">
  <div {{ bem('inner', [], article_header) }}>
    <div {{ bem('image', [], article_header) }}>
      {% block article_media_image %}
        {% set image_array = {
          1440: images.desktop.src|resizeByHeight(617),
          768: images.tablet.src|resizeByHeight(466),
          375: images.mobile.src|resizeByHeight(375),
        } %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          responsive_image_blockname: 'article-header-image',
          output_image_tag: false,
          image_alt: images.desktop.alt,
          image_array: image_array,
          height: '617px',
          width: '1440px',
          image_src: images.desktop.src|resizeByHeight(617)
        } %}
      {% endblock %}
      {% block article_media_devider %}
        <div {{ bem('border', [], article_header) }}>
          {{ shape | raw }}
        </div>
      {% endblock %}
    </div>

    <div {{ bem('container', [], article_header) }}>
      <div {{ bem('text_wrapper', [], article_header) }}>
        {% include "@atoms/text/eyebrow/eyebrow.twig" with {
          eyebrow_text: eyebrow,
          text_color_override: text_color_override
        } %}

        {% include "@atoms/text/headings/_heading.twig" with {
          heading_level: 1,
          heading: heading,
          heading_base_class:'heading',
          text_color_override: text_color_override
        } %}

        {% include "@atoms/text/text/07-span.twig" with {
          span_base_class: 'published',
          span_content: date_published,
          text_color_override: text_color_override
        } %}

        <div class="share-block">
          {% include "@atoms/text/text/07-span.twig" with {
            span_base_class: 'share-text',
            span_content: share_text,
            text_color_override: text_color_override
          } %}
          {% block article_social_menu %}
            {% include "@molecules/menus/social/social-menu.twig" with {
              social_menu_items: social_menu_items,
            } %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
