{#
/**
 * @file
 * FAQ views page componnent.
 *
 * FAQ component variables:
 * 'faq_title' => NULL,
 * 'items' => NULL,
 * 'cta_button_label' => NULL,
 * 'cta_button_link' => NULL,
 */
#}
{%
    set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}
<div {{ attributes.addClass(classes) }}
     data-layer-search-term="{{ data_layer.search_term }}"
     data-layer-search-results="{{ data_layer.search_results }}"
     data-layer-page-id="{{ data_layer.page_id }}"
     data-layer-page-revision-id="{{ data_layer.page_revision_id }}"
     data-layer-grid-type="faq">

  {% include "@molecules/faq-list/faq-list.twig" with {
    theme_styles: 'drupal',
    title: faq_title,
    faq_filter_toggle, faq_filter_toggle,
    faq_items: items,
    button_name: cta_button_label,
    button_link: cta_button_link,
    search_form: input_form,
    search_result_counter: search_result_counter,
    search_result_text: search_result_text,
    facetLinks: facets,
    no_results_heading: no_results_heading,
    no_results_text: no_results_text,
    graphic_divider: graphic_divider,
  } %}
</div>
