{#
/**
 * Available variables:
 * - where_to_buy_base_class -
 * - product_sku -
 * - commerce_vendor -
 * - data_widget_id -
 * - reference_for_analitics -
 * - cta_title -
 * - button_type -
 *
 */
#}
{% set where_to_buy_base_class = where_to_buy_base_class|default('where-to-buy') %}

{% if commerce_vendor == 'price_spider' %}
  <div {{ bem(where_to_buy_base_class, where_to_buy_modifiers, where_to_buy_blockname) }}>
    <div class="ps-widget" ps-sku="{{ product_sku }}"></div>
  </div>
{% else %}
  {% if button_type == 'my_own' and product_sku is not empty %}
    <div {{ bem(where_to_buy_base_class, where_to_buy_modifiers, where_to_buy_blockname) }}>
      <a class="cc-fi-button text_link" data-ccwid="{{ data_widget_id }}" data-ean="{{ product_sku }}">{{ cta_title }}</a>
    </div>
  {% else %}
    <div {{ bem(where_to_buy_base_class, where_to_buy_modifiers, where_to_buy_blockname) }} data-ccid="cc-wtb-button-container">
      <div data-ccid="wtb-target" data-ccwid="{{ data_widget_id }}" data-ean="{{ product_sku }}"></div>
    </div>
  {% endif %}
{% endif %}
