{#
/**
 * Available variables:
 * - where_to_buy_base_class -
 * - product_sku -
 * - commerce_vendor -
 * - data_widget_id -
 * - reference_for_analitics -
 * - cta_title -
 * - button_type -
 *
 */
#}
{% set where_to_buy_base_class = where_to_buy_base_class|default('where-to-buy') %}
{% if product_sku is not empty %}
  <div {{ bem(where_to_buy_base_class, where_to_buy_modifiers, where_to_buy_blockname) }}
    {% if commerce_vendor == 'commerce_connector' and button_type != 'my_own' %}
      data-ccid="cc-wtb-button-container"
    {% endif %}
  >
    {% if commerce_vendor == 'price_spider' %}
      <div class="ps-widget" ps-config="{{ data_widget_id }}" ps-sku="{{ product_sku }}"></div>
    {% elseif commerce_vendor == 'commerce_connector' %}
      {% if button_type == 'my_own' %}
        <a class="cc-fi-button text_link" data-ccwid="{{ data_widget_id }}"
           data-ean="{{ product_sku }}">{{ cta_title }}</a>
      {% else %}
        <div data-ccid="wtb-target" data-ccwid="{{ data_widget_id }}" data-ean="{{ product_sku }}"></div>
      {% endif %}
    {% endif %}
  </div>
{% endif %}
