{{ attach_library('emulsifymars/flexible-framer') }}

{% set related_recipes__base_class = 'flexible-framer' %}
{% set related_recipes__additional_class = related_recipes__additional_class|default('') %}

{% set divider = '<div class=divider>'~divider~'</div>' %}
<section {{ bem(related_recipes__base_class, [related_recipes__additional_class]) }} data-theme="{{ theme_styles }}"
  {% if select_background_color|length > 0 %}
    style="background-color: {{ 'var(' ~ select_background_color ~ ')' }}"
  {% endif %}
>
  {% block brand_border %}
    <div {{  bem('border', [], related_recipes__base_class)  }}>
      {{ brand_borders | raw }}
    </div>
  {% endblock %}

  {% include "@organisms/grid/grid-ff.twig" with {
    grid_label: grid_label,
    grid_type: grid_type,
    divider: divider,
    item_type: item_type,
    items: items,
    brand_shape: brand_shape
  } %}
</section>
