{% set related_recipes__base_class = 'flexible-framer' %}
{% set border_overflow = overlaps_previous ? '' : 'no-overflow' %}
{% if brand_border is not empty %}
  {% set related_recipes_modifiers = ['brand-border'] %}
{% endif %}
{% if items %}
  {% set items = items %}
{% else %}
  {% set items = storybook_flexible_framer_items %}
{% endif %}

<section {{ bem(related_recipes__base_class, related_recipes_modifiers) }} data-theme="{{ theme_styles }}"
  {% if select_background_color|length > 0 %}
    style="background-color: {{ 'var(' ~ select_background_color ~ ')' }}"
  {% endif %}
>
  {% if brand_borders is not empty %}
    {% block brand_border %}
      <div {{  bem('border', [border_overflow], related_recipes__base_class)  }}>
        {{ brand_borders | raw }}
      </div>
    {% endblock %}
  {% endif %}

  {% include "@organisms/grid/grid-ff.twig" with {
    grid_label: grid_label,
    grid_type: grid_type,
    divider: divider,
    item_type: item_type,
    items: items,
    brand_shape: brand_shape,
    text_color_override: text_color_override
  } %}
</section>
