{#
/**
 * @file
 * Footer block.
 * 'top_footer_menu' => NULL,
 * 'legal_links' => NULL,
 * 'copyright' => NULL,
 * 'corporate_tout' => NULL,
 * 'social_links' => NULL,
 * 'region_selector' => NULL,
 * 'logo_alt' => NULL,
 * 'cta_button_label' => NULL,
 */
#}
{% set logo_src = file_url(logo) %}
{% set logo_srcset = '%s 375w, %s 768w, %s 1024w, %s 1440w' | format(logo_src, logo_src, logo_src, logo_src) %}
{% set footer_logo_src = footer_logo_path %}
{% set footer_logo_src_srcset = '%s 375w, %s 768w, %s 1024w, %s 1440w' | format(footer_logo_src, footer_logo_src, footer_logo_src, footer_logo_src) %}
{% set corporate_tout_button = 'See all' | mt %}

{% embed "@organisms/site/site-footer/site-footer.twig" with {
  theme_styles: 'drupal',
  footer_menu_items: top_footer_menu,
  legal_links_menu_items: legal_links,
  marketing_raw_text: marketing,
  social_menu_items: social_links,
  region_title: region_title,
  regions: region_selector,
  social_text: social_header,
  corporate_tout_text: corporate_tout_text,
  corporate_tout_link_attributes: corporate_tout_url,
  card__button__content: corporate_tout_button,
  brand_border: brand_border,
  cookie_banner_brand_border: cookie_banner_brand_border,
  cookie_banner_override: cookie_banner_override,
  footer_logo_link: url('<front>'),
  cta_button_label: cta_button_label,
  cta_button_target: cta_button_target,
  footer_logo_src: footer_logo_path,
  footer_logo_src_srcset: footer_logo_src_srcset,
  footer_logo_alt: footer_logo_alt,
  footer_logo_toogle: footer_logo_toogle,
} %}

  {% block footer__logo %}
    <a href="{{ footer_logo_link }}" {{ bem('logoLink', [], footer__base_class) }} aria-label="{{ "Logo image" | mt }}">
    {% include "@atoms/images/image/responsive-image.twig" with {
      output_image_tag: true,
      image_alt: logo_alt,
      image_srcset: logo_srcset,
      image_src: logo_src,
      height: '75px',
	    width: '212px',
      image_sizes: '212px',
      responsive_image_blockname: 'logo',
    } %}
    </a>
  {% endblock %}

  {% block footer__brand_border %}
    <div {{  bem('border', [], footer__base_class)  }}>
      {{ brand_border | raw }}
    </div>
  {% endblock %}

  {% block footer__social %}
    <div {{ bem('section-header', [], footer__base_class) }}>{{ social_header }}</div>
    {% include "@molecules/menus/social/social-menu.twig" with {
      social_menu_items: social_menu_items,
    }%}
  {% endblock %}

  {% block footer__menu %}
    {% include "@molecules/menus/_menu.twig" with {
      menu_class: 'footer-menu',
      items: footer_menu_items,
    } %}
  {% endblock %}

  {% block footer__legal_links %}
    {% include "@molecules/menus/_menu.twig" with {
      menu_class: 'legal-links-menu',
      items: legal_links_menu_items,
    } %}
  {% endblock %}

{% endembed %}

{# Hidden custom cookie banner #}
{% include "@molecules/cookie-banner/cookie-banner.twig" %}

{% if text_color_override is not empty %}
  <style type="text/css">
    .footer-menu__link {
      color: {{ text_color_override }};
    }
  </style>
{% endif %}

{% if hover_color is not empty %}
  <style type="text/css">
    .footer-menu__link:hover ,
    .footer-menu__link:focus {
      color: {{ hover_color }};
    }
  </style>
{% endif %}

