{{ attach_library('emulsifymars/entry-gate-form') }}
{% set entry_gate_form_base_class = 'entry-gate-form' %}

<form {{ bem(entry_gate_form_base_class, entry_gate_form_modifiers) }} data-theme={{ theme_styles }}>
  <div class="entry-gate-form__fieldset" data-date-format="{{ entry_gate_date_format }}">
    {% if entry_gate_date_format == 'mm_dd' %}
      <!-- mm -->
      <div class="entry-gate-form__input-container">
        <input id="month" name="month-of-birth" class="entry-gate-form__input entry-gate--month" aria-label="{{ 'MM field, input two digits for your month of birth' | mt }}" type="number" pattern="\d*" maxlength="2" required
          {% if text_color_override is not empty %}
            style="color: {{ text_color_override }};"
          {% endif %}
        />
        <label for="month" class="entry-gate-form__input-label"
          {% if text_color_override is not empty %}
          style="color: {{ text_color_override }};"
          {% endif %}>
          {{entry_gate_form_month_placeholder}}</label>
      </div>
      <!-- dd -->
      <div class="entry-gate-form__input-container">
        <input id="day" name="day-of-birth" class="entry-gate-form__input entry-gate--day" aria-label="{{ 'DD field, input two digits for your day of birth' | mt }}" type="number" pattern="\d*" maxlength="2" required
          {% if text_color_override is not empty %}
            style="color: {{ text_color_override }};"
          {% endif %}
        />
        <label for="day" class="entry-gate-form__input-label"
          {% if text_color_override is not empty %}
          style="color: {{ text_color_override }};"
          {% endif %}>
          {{entry_gate_form_day_placeholder}}</label>
      </div>
    {% elseif entry_gate_date_format == 'dd_mm' %}
      <!-- dd -->
      <div class="entry-gate-form__input-container">
        <input id="day" name="day-of-birth" class="entry-gate-form__input entry-gate--day" aria-label="{{ 'DD field, input two digits for your day of birth' | mt }}" type="number" pattern="\d*" maxlength="2" required
          {% if text_color_override is not empty %}
            style="color: {{ text_color_override }};"
          {% endif %}
        />
        <label for="day" class="entry-gate-form__input-label"
          {% if text_color_override is not empty %}
          style="color: {{ text_color_override }};"
          {% endif %}>
          {{entry_gate_form_day_placeholder}}</label>
      </div>
      <!-- mm -->
      <div class="entry-gate-form__input-container">
        <input id="month" name="month-of-birth" class="entry-gate-form__input entry-gate--month" aria-label="{{ 'MM field, input two digits for your month of birth' | mt }}" type="number" pattern="\d*" maxlength="2" required
          {% if text_color_override is not empty %}
            style="color: {{ text_color_override }};"
          {% endif %}
        />
        <label for="month" class="entry-gate-form__input-label"
          {% if text_color_override is not empty %}
          style="color: {{ text_color_override }};"
          {% endif %}>
          {{entry_gate_form_month_placeholder}}</label>
      </div>
    {% else %}
      <!-- mm -->
      <div class="entry-gate-form__input-container">
        <input id="month" name="month-of-birth" class="entry-gate-form__input entry-gate--month" aria-label="{{ 'MM field, input two digits for your month of birth' | mt }}" type="number" pattern="\d*" maxlength="2" required
          {% if text_color_override is not empty %}
            style="color: {{ text_color_override }};"
          {% endif %}
        />
        <label for="month" class="entry-gate-form__input-label"
          {% if text_color_override is not empty %}
          style="color: {{ text_color_override }};"
          {% endif %}>
          {{entry_gate_form_month_placeholder}}</label>
      </div>
    {% endif %}
    <!-- yyyy -->
    <div class="entry-gate-form__input-container">
      <input id="year" name="year-of-birth" class="entry-gate-form__input entry-gate--year" aria-label="{{ 'YYYY field, input four digits for your year of birth' | mt }}" placeholder=" "  type="number" pattern="\d*" minlength="4" maxlength="4" required
        {% if text_color_override is not empty %}
          style="color: {{ text_color_override }};"
        {% endif %}
      />
      <label for="year" class="entry-gate-form__input-label"
        {% if text_color_override is not empty %}
          style="color: {{ text_color_override }};"
        {% endif %}>
        {{entry_gate_form_year_placeholder}}</label>
    </div>
  </div>
    {% include "@atoms/buttons/twig/button.twig" with {
        button_base_class: 'entry-gate-form__submit-btn',
        button_content: entry_gate_form_submit_text
    } %}
</form>
<span class="entry-gate-form__error-message"
       {% if text_color_override is not empty %}
         style="color: {{ text_color_override }};"
       {% endif %}
      data-theme={{ theme_styles }}>{{ entry_gate_form_error_message }}</span>
