{% set entry_gate_form_base_class = 'entry-gate-form' %}

<form {{ bem(entry_gate_form_base_class, entry_gate_form_modifiers) }} data-theme={{ theme_styles }}>
  <div class="entry-gate-form__fieldset">
    <div class="entry-gate-form__input-container">
      <input id="day" name="day-of-birth" class="entry-gate-form__input entry-gate-form__input--rounded-left entry-gate--day" aria-label="{{ 'DD field, input two digits for your day of birth' | mt }}" type="text" pattern="\d*" maxlength="2" required/>
      <label for="day" class="entry-gate-form__input-label">{{entry_gate_form_day_placeholder}}</label>
    </div>
    <div class="entry-gate-form__input-container">
      <input id="month" name="month-of-birth" class="entry-gate-form__input entry-gate--month" aria-label="{{ 'MM field, input two digits for your month of birth' | mt }}" type="text" pattern="\d*" maxlength="2" required />
      <label for="month" class="entry-gate-form__input-label">{{entry_gate_form_month_placeholder}}</label>
    </div>
    <div class="entry-gate-form__input-container">
      <input id="year" name="year-of-birth" class="entry-gate-form__input entry-gate-form__input--rounded-right entry-gate--year" aria-label="{{ 'YYYY field, input four digits for your year of birth' | mt }}" type="text" pattern="\d*" minlength="4" maxlength="4" required/>
      <label for="year" class="entry-gate-form__input-label">{{entry_gate_form_year_placeholder}}</label>
    </div>
  </div>
    {% include "@atoms/buttons/twig/button.twig" with {
        button_base_class: 'entry-gate-form__submit-btn',
        button_content: entry_gate_form_submit_text
    } %}
</form>
<span class="entry-gate-form__error-message" data-theme={{ theme_styles }}>{{ entry_gate_form_error_message }}</span>
