{{ attach_library('emulsifymars/product-selector') }}

{% set product_selector_class = product_selector_class|default('product-selector') %}

<section {{bem(product_selector_class)}} data-theme={{theme_styles}}>
  <div {{bem('information', [], product_selector_class)}}>
    <div {{bem('image', [], product_selector_class)}}>
      {% include "@atoms/images/image/_image.twig" with {
        image_alt: default_product.variants[0].image_alt,
        image_src: default_product.variants[0].image_src,
      } %}
    </div>
    <div {{bem('title', [], product_selector_class)}}>
      {{ default_product.title }}
    </div>
  </div>
  <div {{bem('form-container', [], product_selector_class)}}>
    <form {{bem('form', [], product_selector_class)}}>
      <div {{bem('select-wrapper', [], product_selector_class)}}>
        <select {{bem('item-selector', [], product_selector_class)}}>
          {% for product in products %}
            <option data-id="{{ product.id }}">{{ product.title }}</option>
          {% endfor %}
        </select>
      </div>
      <div {{bem('select-wrapper', [], product_selector_class)}}>
        <select {{bem('product-variant-selector', [], product_selector_class)}}>
          {% for variant in default_product.variants %}
            <option data-id="{{ variant.gtin }}"
                    data-image-src="{{ variant.image_src }}"
                    data-image-alt="{{ variant.image_alt }}"
                    value="{{ variant.size }}">{{ variant.size }}</option>
          {% endfor %}
        </select>
      </div>
    </form>

    <script id="cci-widget"
            type="text/javascript"
            src="//fi-v2.global.commerce-connector.com/cc.js"
            data-token="{{ data_token }}"
            data-locale="{{ data_locale }}"
            data-displaylanguage="{{ data_displaylanguage }}"
            data-widgetid="{{ widget_id }}"
            data-ean="{{ default_product.variants[0].gtin }}"
            data-subid="{{ data_subid }}"
    ></script>

  </div>
</section>
