{{ attach_library('emulsifymars/recommendations-module') }}
{% set recommendations_base_class = recommendations_base_class|default('recommendations') %}
{% set border_overflow = overlaps_previous ? '' : 'no-overflow' %}

<section id="recommendations" {{ bem(recommendations_base_class, recommendations_modifiers) }} data-theme="{{ theme_styles }}">
  {% if brand_border is not empty %}
    {% block brand_border %}
      <div {{  bem('border', [border_overflow], recommendations_base_class)  }}>
        {{ brand_border | raw }}
      </div>
    {% endblock %}
  {% endif %}

  <div class="recommendations__heading">
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: 2,
      heading_base_class: 'recommendations__heading',
      heading_modifiers: ['main-heading'],
      heading: recommendation_title,
    } %}
  </div>

  <div class="graphic-divider">
    {{ graphic_divider | raw }}
  </div>

  <div class="swiper-container recommendations-swiper-container">
    <div class="swiper-wrapper">
        {% for item in recommended_items %}
          <div class="swiper-slide recommended-item">
            {{ item }}
          </div>
        {% endfor %}
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-scrollbar"></div>
</section>
