{% set pdp_nutrition_base_class = pdp_nutrition_base_class|default('pdp-nutrition') %}
{% set pdp_nutrition_label_base_class = 'nutrition-label' %}
{% set pdp_nutrition_value_base_class = 'nutrition-value' %}
{% set pdp_nutrition_value_daily_base_class = 'nutrition-value-daily' %}
{% set show_table_footer = (show_table_footer is defined) ? show_table_footer : true %}
{% set override_title_uppercase = pdp_nutrition_data.serving_item.change_uppercase %}
{% set polyols_indent = pdp_nutrition_data.serving_item.indent_polyols %}
{% set polyols_label = pdp_nutrition_data.serving_item.polyols_label %}
{% set pre_sugars_label = pdp_nutrition_data.serving_item.pre_sugars_label %}

<section {{ bem(pdp_nutrition_base_class) }} data-theme="{{ theme_styles }}">
  {% if pdp_nutrition_data.serving_item.table_label is not empty %}
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: 5,
      heading: pdp_nutrition_data.serving_item.table_label|upper,
      heading_blockname: pdp_nutrition_base_class,
      heading_base_class: 'table-header',
    } %}
  {% endif %}

  <div {{ bem('container', [], pdp_nutrition_base_class) }}>
    {% if (dual_label and not last_product) or not dual_label %}
      <div {{ bem('heading', [], pdp_nutrition_base_class) }}>
        <dl {{ bem('heading-list', [], pdp_nutrition_base_class) }}>
          <dt {{ bem('heading-item', ['label'], pdp_nutrition_base_class) }}>{{pdp_nutrition_data.serving_item.serving_size.label}}</dt>
          <dd {{ bem('heading-item', [], pdp_nutrition_base_class) }}>{{pdp_nutrition_data.serving_item.serving_size.value}}</dd>
        </dl>
        {% if pdp_nutrition_data.serving_item.serving_per_container.value %}
        <dl {{ bem('heading-list', [], pdp_nutrition_base_class) }}>
          <dt {{ bem('heading-item', ['label'], pdp_nutrition_base_class) }}>{{pdp_nutrition_data.serving_item.serving_per_container.label}}</dt>
          <dd {{ bem('heading-item', [], pdp_nutrition_base_class) }}>{{pdp_nutrition_data.serving_item.serving_per_container.value}}</dd>
        </dl>
        {% endif %}
        {% if pdp_nutrition_data.serving_item.dual_servings_per_container.label %}        
        <dl {{ bem('heading-list', [], pdp_nutrition_base_class) }}>
          <dt {{ bem('heading-item', ['label'], pdp_nutrition_base_class) }}>{{pdp_nutrition_data.serving_item.dual_servings_per_container.label}}</dt>
          <dd {{ bem('heading-item', [], pdp_nutrition_base_class) }}>{{pdp_nutrition_data.serving_item.dual_servings_per_container.value}}</dd>
        </dl>
        {% endif %}
      </div>
    {% endif %}
    <!-- Nutrition Row -->
    <div {{ bem('nutrition-row', [], pdp_nutrition_base_class) }}>
      <!-- Nutrition Column 1 -->
      <div {{ bem('nutrition-column', [], pdp_nutrition_base_class) }}>
        <!-- Heading of Column 1 -->
        <div {{ bem('section-column', ['heading'], pdp_nutrition_base_class) }}>
          <dl {{ override_title_uppercase ? bem('section-column-list', ['heading'], pdp_nutrition_base_class, ['nutrition-title-normalcase']) : bem('section-column-list', ['heading'], pdp_nutrition_base_class) }}>
            <dt {{ bem('section-column-item', ['heading'], pdp_nutrition_base_class) }}>
              {% if pdp_nutrition_data.serving_item.dual_servings_per_container.label %}
                {% include "@atoms/text/text/07-span.twig" with {
                span_content: pdp_common_nutrition_data.nutritional_info_dual_serving_label,
                span_base_class: pdp_nutrition_label_base_class,
                span_blockname: pdp_nutrition_base_class,
                } %}
              {% else %}
                {% include "@atoms/text/text/07-span.twig" with {
                  span_content: pdp_common_nutrition_data.nutritional_info_serving_label,
                  span_base_class: pdp_nutrition_label_base_class,
                  span_blockname: pdp_nutrition_base_class,
                } %}
              {% endif %}
            </dt>
            {% if (pdp_common_nutrition_data.nutritional_view_type == 'US' and not pdp_nutrition_data.serving_item.hide_dialy_value_column) 
            or (pdp_common_nutrition_data.nutritional_view_type == 'EU' and is_dual_table) %}
            <dd {{ bem('section-column-item', ['heading'], pdp_nutrition_base_class) }}>
              {% include "@atoms/text/text/07-span.twig" with {
                span_content: pdp_common_nutrition_data.nutritional_info_daily_label,
                span_base_class: pdp_nutrition_label_base_class,
                span_blockname: pdp_nutrition_base_class,
              } %}
            </dd>
            {% endif %}
          </dl>
        </div>
        <!-- Heading of Column 1 Ends -->
        <!-- Data of Column 1 -->
        {% if pdp_nutrition_data.serving_item.group_nutritional_subgroup_1 %}
          <div {{ bem('section-column', ['data'], pdp_nutrition_base_class) }}>
            {% for item in pdp_nutrition_data.serving_item.group_nutritional_subgroup_1 %}
              {% set additional_class = item.bold_modifier ? 'bold' : '' %}
              <dl {{ bem('section-column-list', [], pdp_nutrition_base_class) }}>
                <dt {{ bem('section-column-item', ['label'], pdp_nutrition_base_class, [additional_class]) }}>
                  {% include "@atoms/text/text/07-span.twig" with {
                    span_content: item.label,
                    span_base_class: pdp_nutrition_label_base_class,
                    span_blockname: pdp_nutrition_base_class,
                  } %}
                </dt>
                <dd {{ bem('section-column-item', ['value'], pdp_nutrition_base_class) }}>
                  {% include "@atoms/text/text/07-span.twig" with {
                    span_content: item.value,
                    span_base_class: pdp_nutrition_value_base_class,
                    span_blockname: pdp_nutrition_base_class,
                  } %}
                </dd>
                {% if not pdp_nutrition_data.serving_item.hide_dialy_value_column %}
                  <dd {{ bem('section-column-item', ['value-daily'], pdp_nutrition_base_class) }}>
                    {% include "@atoms/text/text/07-span.twig" with {
                      span_content: item.value_daily,
                      span_base_class: pdp_nutrition_value_daily_base_class,
                      span_blockname: pdp_nutrition_base_class,
                    } %}
                  </dd>
                {% endif %}
              </dl>
            {% endfor %}
          </div>
        {% endif %}
        {% if pdp_nutrition_data.serving_item.group_nutritional_subgroup_2 %}
          <div {{ bem('section-column', ['data'], pdp_nutrition_base_class) }}>
            {% for item in pdp_nutrition_data.serving_item.group_nutritional_subgroup_2 %}
              {% set additional_class = item.bold_modifier ? 'bold' : '' %}
              <dl {{ bem('section-column-list', [], pdp_nutrition_base_class) }}>
                <dt {{ bem('section-column-item', ['label'], pdp_nutrition_base_class, [additional_class]) }}>
                  {% include "@atoms/text/text/07-span.twig" with {
                    span_content: item.label,
                    span_base_class: pdp_nutrition_label_base_class,
                    span_blockname: pdp_nutrition_base_class,
                  } %}
                </dt>
                <dd {{ bem('section-column-item', ['value'], pdp_nutrition_base_class) }}>
                  {% include "@atoms/text/text/07-span.twig" with {
                    span_content: item.value,
                    span_base_class: pdp_nutrition_value_base_class,
                    span_blockname: pdp_nutrition_base_class,
                  } %}
                </dd>
                {% if not pdp_nutrition_data.serving_item.hide_dialy_value_column %}
                  <dd {{ bem('section-column-item', ['value-daily'], pdp_nutrition_base_class) }}>
                    {% include "@atoms/text/text/07-span.twig" with {
                      span_content: item.value_daily,
                      span_base_class: pdp_nutrition_value_daily_base_class,
                      span_blockname: pdp_nutrition_base_class,
                    } %}
                  </dd>
                {% endif %}
              </dl>
            {% endfor %}
          </div>
        {% endif %}
        {% if pdp_nutrition_data.serving_item.group_nutritional_subgroup_3 %}
          <div {{ bem('section-column', ['data'], pdp_nutrition_base_class) }}>
            {% for item in pdp_nutrition_data.serving_item.group_nutritional_subgroup_3 %}
              {% set additional_class = item.bold_modifier ? 'bold' : '' %}
              <dl {{ bem('section-column-list', [], pdp_nutrition_base_class) }}>
                <dt {{ bem('section-column-item', ['label'], pdp_nutrition_base_class, [additional_class]) }}>
                  {% set item_label = item.label %}
                  {% if item.pre_label %}
                    {% set item_label = item.pre_label ~ ' ' ~ item.label %}
                  {% endif %}
                  {% if polyols_indent and (polyols_label == item.label) %}
                    {% include "@atoms/text/text/07-span.twig" with {
                      span_content: pre_sugars_label,
                      span_base_class: pdp_nutrition_label_base_class,
                      span_indent_polyols_class: 'indent-hide',
                      span_blockname: pdp_nutrition_base_class,
                    } %}
                  {% endif %}
                  {% include "@atoms/text/text/07-span.twig" with {
                    span_content: item_label,
                    span_base_class: pdp_nutrition_label_base_class,
                    span_blockname: pdp_nutrition_base_class,
                  } %}
                </dt>
                <dd {{ bem('section-column-item', ['value'], pdp_nutrition_base_class) }}>
                  {% include "@atoms/text/text/07-span.twig" with {
                    span_content: item.value,
                    span_base_class: pdp_nutrition_value_base_class,
                    span_blockname: pdp_nutrition_base_class,
                  } %}
                </dd>
                {% if not pdp_nutrition_data.serving_item.hide_dialy_value_column %}
                  <dd {{ bem('section-column-item', ['value-daily'], pdp_nutrition_base_class) }}>
                    {% include "@atoms/text/text/07-span.twig" with {
                      span_content: item.value_daily,
                      span_base_class: pdp_nutrition_value_daily_base_class,
                      span_blockname: pdp_nutrition_base_class,
                    } %}
                  </dd>
                {% endif %}
              </dl>
            {% endfor %}
          </div>
        {% endif %}
        <!-- Data of Column 1 Ends -->
      </div>
      <!-- Nutrition Column 1 Ends -->
      <!-- Nutrition Column 2 -->
      <div {{ bem('nutrition-column', [], pdp_nutrition_base_class) }}>
        <!-- Heading of Column 2 -->
        <div {{ bem('section-column', ['heading'], pdp_nutrition_base_class) }}>
          {% if pdp_nutrition_data.serving_item.group_vitamins %}
            <dl {{ bem('section-column-list', ['heading'], pdp_nutrition_base_class) }}>
              <dt {{ bem('section-column-item', ['heading'], pdp_nutrition_base_class) }}>
                {% include "@atoms/text/text/07-span.twig" with {
                  span_content: pdp_common_nutrition_data.vitamins_info_label,
                  span_base_class: pdp_nutrition_label_base_class,
                  span_blockname: pdp_nutrition_base_class,
                } %}
              </dt>
              <dd {{ bem('section-column-item', ['heading'], pdp_nutrition_base_class) }}>
                {% include "@atoms/text/text/07-span.twig" with {
                  span_content: pdp_common_nutrition_data.nutritional_info_daily_label,
                  span_base_class: pdp_nutrition_label_base_class,
                  span_blockname: pdp_nutrition_base_class,
                } %}
              </dd>
            </dl>
          {% endif %}
        </div>
        <!-- Heading of Column 2 Ends -->
        <!-- Data of Column 2 -->
        {% if pdp_nutrition_data.serving_item.group_vitamins %}
          <div {{ bem('section-column', ['data'], pdp_nutrition_base_class) }}>
            {% for item in pdp_nutrition_data.serving_item.group_vitamins %}
              <dl {{ bem('section-column-list', [], pdp_nutrition_base_class) }}>
                <dt {{ bem('section-column-item', ['label'], pdp_nutrition_base_class) }}>
                  {% include "@atoms/text/text/07-span.twig" with {
                    span_content: item.label,
                    span_base_class: pdp_nutrition_label_base_class,
                    span_blockname: pdp_nutrition_base_class,
                  } %}
                </dt>
                <dd {{ bem('section-column-item', ['value'], pdp_nutrition_base_class) }}>
                  {% include "@atoms/text/text/07-span.twig" with {
                    span_content: item.value,
                    span_base_class: pdp_nutrition_value_base_class,
                    span_blockname: pdp_nutrition_base_class,
                  } %}
                </dd>
                {% if not pdp_nutrition_data.serving_item.hide_dialy_value_column %}
                  <dd {{ bem('section-column-item', ['value-daily'], pdp_nutrition_base_class) }}>
                    {% include "@atoms/text/text/07-span.twig" with {
                      span_content: item.value_daily,
                      span_base_class: pdp_nutrition_value_daily_base_class,
                      span_blockname: pdp_nutrition_base_class,
                    } %}
                  </dd>
                {% endif %}
              </dl>
            
            {% endfor %}
          </div>
        {% endif %}

        <div {{ bem('section-column', [], pdp_nutrition_base_class) }}>
          <dl {{ bem('section-column-list', ['info-block'], pdp_nutrition_base_class) }}>
            <dd {{ bem('section-column-item', ['info-block'], pdp_nutrition_base_class) }}>             
                {% include "@atoms/text/text/07-span.twig" with {
                  span_content: pdp_nutrition_data.serving_item.reference_intake_value,
                  span_base_class: pdp_nutrition_value_base_class,
                  span_blockname: pdp_nutrition_base_class,
                } %}
            </dd>
          </dl>
        </div>
        <div {{ bem('section-column', [], pdp_nutrition_base_class) }}>
          <dl {{ bem('section-column-list', ['info-block'], pdp_nutrition_base_class) }}>
            <dd {{ bem('section-column-item', ['info-block'], pdp_nutrition_base_class) }}>
              {% include "@atoms/text/text/07-span.twig" with {
                span_content: pdp_common_nutrition_data.daily_text,
                span_base_class: pdp_nutrition_value_base_class,
                span_blockname: pdp_nutrition_base_class,
              } %}
            </dd>
          </dl>
        </div>
        <div {{ bem('section-column', [], pdp_nutrition_base_class) }}>
          <dl {{ bem('section-column-list', ['info-block', 'upper'], pdp_nutrition_base_class) }}>
            <dd {{ bem('section-column-item', ['info-block', 'upper'], pdp_nutrition_base_class) }}>
              {% include "@atoms/text/text/07-raw-span.twig" with {
                span_content: pdp_nutrition_data.serving_item.ingredients_value,
                span_base_class: pdp_nutrition_value_base_class,
                span_blockname: pdp_nutrition_base_class,
              } %}
            </dd>
          </dl>
        </div>
        <div {{ bem('section-column', [], pdp_nutrition_base_class) }}>
          <dl {{ bem('section-column-list', ['additional-info'], pdp_nutrition_base_class) }}>
            <dd {{ bem('section-column-item', ['additional-info'], pdp_nutrition_base_class) }}>
              {% include "@atoms/text/text/07-span.twig" with {
                span_content: pdp_nutrition_data.serving_item.warnings_value,
                span_base_class: pdp_nutrition_value_base_class,
                span_blockname: pdp_nutrition_base_class,
              } %}
            </dd>
          </dl>
        </div>
        <div {{ bem('section-column', [], pdp_nutrition_base_class) }}>
          <dl {{ bem('section-column-list', ['additional-info', 'upper'], pdp_nutrition_base_class) }}>
            <dd {{ bem('section-column-item', ['additional-info', 'upper'], pdp_nutrition_base_class, ['bold']) }}>
              {% include "@atoms/text/text/07-span.twig" with {
                span_content: pdp_nutrition_data.serving_item.legal_warnings_value,
                span_base_class: pdp_nutrition_value_base_class,
                span_blockname: pdp_nutrition_base_class,
              } %}
            </dd>
          </dl>
        </div>
        {% if pdp_nutrition_data.serving_item.show_other_nutrients_text %}
          <div {{ bem('section-column', [], pdp_nutrition_base_class) }}>
            <dl {{ bem('section-column-list', ['additional-info'], pdp_nutrition_base_class) }}>
              <dd {{ bem('section-column-item', ['additional-info'], pdp_nutrition_base_class, ['bold']) }}>
                {% include "@atoms/text/text/07-span.twig" with {
                  span_content: pdp_common_nutrition_data.other_nutrients_text,
                  span_base_class: pdp_nutrition_value_base_class,
                  span_blockname: pdp_nutrition_base_class,
                } %}
              </dd>
            </dl>
          </div>
        {% endif %}
        <div {{ bem('section-column', [], pdp_nutrition_base_class) }}>
          <dl {{ bem('section-column-list', ['info-block', 'upper'], pdp_nutrition_base_class) }}>
            <dd {{ bem('section-column-item', ['info-block', 'upper'], pdp_nutrition_base_class, ['bold']) }}>
              {% include "@atoms/text/text/07-raw-span.twig" with {
                span_content: pdp_nutrition_data.serving_item.disclaimers_value,
                span_base_class: pdp_nutrition_value_base_class,
                span_blockname: pdp_nutrition_base_class,
              } %}
            </dd>
          </dl>
        </div>
        {% if pdp_nutrition_data.serving_item.calorie_statement %}
          <div {{ bem('section-column', [], pdp_nutrition_base_class) }}>
            <dl {{ bem('section-column-list', ['info-block', 'upper'], pdp_nutrition_base_class) }}>
              <dd {{ bem('section-column-item', ['info-block', 'upper'], pdp_nutrition_base_class) }}>
                {% include "@atoms/text/text/07-raw-span.twig" with {
                  span_content: pdp_nutrition_data.serving_item.calorie_statement,
                  span_base_class: pdp_nutrition_value_base_class,
                  span_blockname: pdp_nutrition_base_class,
                } %}
              </dd>
            </dl>
          </div>
        {% endif %}
        {% if pdp_nutrition_data.serving_item.whitening_statement %}
          <div {{ bem('section-column', [], pdp_nutrition_base_class) }}>
            <dl {{ bem('section-column-list', ['info-block'], pdp_nutrition_base_class) }}>
              <dd {{ bem('section-column-item', ['info-block'], pdp_nutrition_base_class) }}>
                {% include "@atoms/text/text/07-raw-span.twig" with {
                  span_content: pdp_nutrition_data.serving_item.whitening_statement,
                  span_base_class: pdp_nutrition_value_base_class,
                  span_blockname: pdp_nutrition_base_class,
                } %}
              </dd>
            </dl>
          </div>
        {% endif %}
        <!-- Data of Column 2 Ends -->
      </div>
      <!-- Nutrition Column 2 Ends -->
    </div>
    <!-- Nutrition Row Ends -->
  </div>

  {% if ((dual_label and last_product) or not dual_label) and show_table_footer %}
    <div {{ bem('additional-info', [], pdp_nutrition_base_class) }}>
    {% include "@atoms/text/text/07-span.twig" with {
      span_content: pdp_common_nutrition_data.refer_text,
      span_base_class: pdp_nutrition_value_base_class,
      span_blockname: pdp_nutrition_base_class,
    } %}
    </div>
  {% endif %}
</section>
