{% set footer__base_class = 'footer' %}
{% set legal_links_modifier = legal_links_menu_items|length > 10 ? 'large' : 'small' %}
{% set legal_full_width_modifier = social_menu_items|length == 0 ? 'full-width' : '' %}

<footer {{ bem(footer__base_class) }} data-theme="{{ theme_styles }}">
  <div {{ bem('section', ['primary'], footer__base_class) }}>
    <div {{ bem('section-content', [], footer__base_class) }}>
      <div {{ bem('logo', [], footer__base_class) }}>
        {% block footer__logo %}
          {% set images = {
            1440: logo_src|resize(212, 98),
            768: logo_src|resize(141, 53),
            375: logo_src|resize(104, 39),
          } %}
          <a href="{{ footer_logo_link }}" {{ bem('logoLink', [], footer__base_class) }} aria-label="{{ "Logo image" | mt }}">
            {% include "@atoms/images/image/responsive-image.twig" with {
              output_image_tag: true,
              image_alt: 'Logo',
              image_array: images,
              image_src: logo_src|resize(212, 98),
              responsive_image_blockname: 'logo'
            } %}
          </a>
        {% endblock %}
      </div>
      <div {{ bem('menu', [], footer__base_class) }}>
        {% block footer__menu %}
          {% include "@molecules/menus/footer/footer-menu.twig" %}
        {% endblock %}
      </div>
    </div>
    {% block footer__brand_border %}
      <div {{  bem('border', [], footer__base_class)  }}>
        {{ brand_border | raw }}
      </div>
    {% endblock %}
  </div>
  <div {{ bem('section', ['secondary'], footer__base_class) }}>
    <div {{ bem('section-content', [], footer__base_class) }}>
      {% if social_menu_items|length > 0 %}
        <div {{ bem('social', [], footer__base_class) }}>
          {% block footer__social %}
            <div {{ bem('section-header', [], footer__base_class) }}>{{ social_text }}</div>
            {% include "@molecules/menus/social/social-menu.twig" with {
              social_menu_items: social_menu_items,
            } %}
          {% endblock %}
        </div>
      {% endif %}
      <div {{ bem('separator_1', [], footer__base_class) }}></div>
      <div {{ bem('legal-links', [legal_links_modifier, legal_full_width_modifier], footer__base_class) }}>
        {% block footer__legal_links %}
          {% include "@molecules/menus/legal-links/legal-links-menu.twig" %}
        {% endblock %}
      </div>
      {% if social_menu_items|length > 0 or regions|length > 0 %}
        <div {{ bem('region-selector', [], footer__base_class) }}>
          {% if regions|length > 0 %}
            {% block footer__region_selector %}
              {% include "@atoms/text/text/07-span.twig" with {
                span_base_class: footer__base_class ~ '__section-header',
                span_content: region_title,
              } %}
              {% include "@molecules/dropdown/dropdown.twig" with {
                dropdown_selected_title: current_region_title,
                dropdown_title: region_title,
                dropdown_items: regions,
              } %}
            {% endblock %}
          {% endif %}
        </div>
      {% endif %}
      <div {{ bem('info', [], footer__base_class) }}>
        {% block footer__info %}
          {% include "@atoms/text/text/01-paragraph.twig" with {
            paragraph_base_class: 'footer__marketing-text-title',
            paragraph_content: marketing_text_title,
          } %}
          {% include "@atoms/text/text/01-paragraph.twig" with {
            paragraph_base_class: 'footer__marketing-text',
            paragraph_content: marketing_text,
          } %}
          {% include "@atoms/text/text/01-paragraph.twig" with {
            paragraph_base_class: 'footer__copyright',
            paragraph_content: copyright_text,
          } %}
          {% include "@atoms/text/text/07-element.twig" with {
            paragraph_base_class: 'footer__marketing-text',
            paragraph_content: marketing_raw_text,
          } %}
        {% endblock %}
      </div>
      <div {{ bem('separator_2', [], footer__base_class) }}></div>
      <div {{ bem('corporate-tout', [], footer__base_class) }}>
        <div {{ bem('corporate-tout__text', []) }}>{{ corporate_tout_text }}</div>
        {% include "@atoms/links/defaultLink/defaultLink.twig" with {
          default_link_content: cta_button_label,
          default_link_attributes: corporate_tout_link_attributes|merge({'target' : cta_button_target}),
          default_link_base_class: 'default-link'
        } %}
        {% if footer_logo_toogle and footer_logo_src %}
        <div class="footerLogo">
          {% include "@atoms/images/image/_footer_logo.twig" with {
            footer_logo_alt: footer_logo_alt,
            footer_logo_src: footer_logo_src|resize(212, 98),
            footer_logo_src_srcset: footer_logo_src_srcset,
            responsive_image_blockname: 'footer_logo'
          } %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</footer>
