{{ attach_library('emulsifymars/product-feature') }}
{% set product_feature_base_class = 'product-feature' %}
{% if background_color %}
  {% set background_color = background_color %}
{% else %}
  {% set background_color = storybook_product_feature_background_color %}
{% endif %}
{% if heading %}
  {% set heading = heading %}
{% else %}
  {% set heading = storybook_product_feature_heading %}
{% endif %}

<section {{ bem(product_feature_base_class) }} data-theme="{{ theme_styles }}" style="background-color: {{ background_color }};">
  <div {{ bem('inner', [], product_feature_base_class) }}>
    <div {{ bem('bubble', ['1'], product_feature_base_class) }}>
      {{ brand_shape | raw }}
    </div>
    <div {{ bem('bubble', ['2'], product_feature_base_class) }}>
      {{ brand_shape | raw }}
    </div>
    <div {{ bem('bubble', ['3'], product_feature_base_class) }}>
      {{ brand_shape | raw }}
    </div>
    <div {{ bem('content', [], product_feature_base_class) }}>
      <div {{ bem('content-column', ['image'], product_feature_base_class) }}>
        <div {{ bem('product_image', [], product_feature_base_class) }}>
          {% set images = {
            1440: image_src|resize(580, 580),
            768: image_src|resize(549, 549),
            375: image_src|resize(277, 277),
          } %}
          <div {{ bem('aspect-ratio-wrapper', ['1-1']) }}>
            {% include "@atoms/images/image/responsive-image.twig" with {
              output_image_tag: true,
              image_alt: image_alt,
              image_array: images,
              image_src: image_src|resize(580, 580),
              responsive_image_blockname: 'product_image'
            } %}
          </div>
        </div>
      </div>
      <div {{ bem('content-column', [], product_feature_base_class) }}>
        <div {{ bem('product_text', [], product_feature_base_class) }}>
          <div {{ bem('product_eyebrow', [], product_feature_base_class) }}>{{ eyebrow_text }}</div>
          {% include "@atoms/text/headings/_heading.twig" with {
            heading: heading,
            heading_level: heading_level,
            heading_url: default_link_attributes.href,
            heading_link_attributes: heading_link_attributes,
          } %}
          {% include "@atoms/links/defaultLink/defaultLink.twig" with {
            default_link_content: default_link_content,
            default_link_base_class: default_link_base_class,
            default_link_attributes: default_link_attributes
          } %}
        </div>
      </div>
    </div>
  </div>
</section>
