{% set card_base_class = card_base_class|default('recommendations-card') %}
{% if select_background_color == 'color_c' %}
  {% set card__extra_classes = ['card-item', 'bg-color-C', 'bg-gradient-C'] %}
{% elseif select_background_color == 'color_d' %}
  {% set card__extra_classes = ['card-item', 'bg-color-D', 'bg-gradient-D'] %}
{% elseif select_background_color == 'color_e' %}
  {% set card__extra_classes = ['card-item', 'bg-color-E', 'bg-gradient-E'] %}
{% else %}
  {% set card__extra_classes = ['card-item'] %}
{% endif %}

<section {{ bem(card_base_class, [], '', card__extra_classes) }}
         data-theme="{{ theme_styles }}"
         data-card-type="{{ card_type }}"
         data-site-search-clicked="{{ heading }}">

  {% if is_new %}
    {% include "@atoms/badge/badge.twig" %}
  {% endif %}

  {% include "@atoms/text/headings/_heading.twig" with {
    heading: heading,
    heading_level: heading_level,
    heading_url: button_link_attributes.href,
    heading_base_class: heading_base_class,
    heading_link_attributes: heading_link_attributes,
    text_color_override: text_color_override,
  } %}

  <div {{ bem('details-button', [], recipe_card_base_class) }}>
    {% include "@atoms/links/defaultLink/defaultLink.twig" with {
      default_link_content: button_text,
      default_link_attributes: button_link_attributes,
      default_link_modifiers: button_modifiers
    } %}
  </div>

  {% if card_image_src %}
    <div {{ bem('media', [], card_base_class) }}>
      <a href={{ media_url }}
        {% for attribute, value in heading_link_attributes %}
         {{ attribute }}="{{ value }}"
        {% endfor %}
        aria-label="{{ heading | mt }}"
      >
        {% set images = {
          1440: card_image_src|resize(318, 318),
          768: card_image_src|resize(334, 315),
          375: card_image_src|resize(315, 315),
        } %}
        {% include "@atoms/images/image/_image.twig" with {
          output_image_tag: true,
          image_alt: card_image_alt,
          image_src: card_image_src|resize(318, 318),
          responsive_image_blockname: 'content_hub_image',
          image_array: images,
          height: '318px',
	        width: '318px',
        } %}
      </a>
    </div>
  {% else %}
    <div class="article-card__brand-shape">
      {{ brand_shape }}
    </div>
  {% endif %}

</section>
