{% set recipe_card_base_class = recipe_card_base_class|default('recipe-card') %}
{% set card__extra_classes = ['card-item'] %}

<section {{ bem(recipe_card_base_class, [], '', card__extra_classes) }}
         data-theme="{{ theme_styles }}"
         data-card-type="recipe-card"
         data-site-search-clicked="{{ recipe_card_heading }}"
        {% if select_background_color|length > 0 %}
          style="background-image: radial-gradient(circle at 50% 40%, var(--c-card-background) 10%, {{ 'var(' ~ select_background_color ~ ')' }})"
        {% endif %}
>

  {% if recipe_is_new %}
    {% include "@atoms/badge/badge.twig" %}
  {% endif %}

  <div {{ bem('media', [], recipe_card_base_class) }}>
    <a href={{recipe_card_media_url}}
      {% for attribute, value in recipe_card_heading_link_attributes %}
       {{ attribute }}="{{ value }}"
      {% endfor %}
      aria-label="{{ recipe_card_heading | mt }}"
    >
      {% include "@atoms/images/image/_image.twig" with {
        output_image_tag: true,
        image_alt: recipe_card_image_alt,
        image_src: recipe_card_image_src,
        responsive_image_blockname: 'recipe_image',
      } %}
    </a>
  </div>

  {# Eyebrow #}
  {% if recipe_card_eyebrow %}
    {% include "@atoms/text/headings/_heading.twig" with {
      heading: recipe_card_eyebrow,
      heading_level: 3,
      heading_base_class: 'eyebrow'
    } %}
  {% endif %}

  {% include "@atoms/text/headings/_heading.twig" with {
    heading: recipe_card_heading,
    heading_level: recipe_card_heading_level,
    heading_url: recipe_card_button_link_attributes.href,
    heading_base_class: recipe_card_heading_base_class,
    heading_link_attributes: recipe_card_heading_link_attributes,
  } %}

  <div {{ bem('labels_section', [], recipe_card_base_class) }}>
    <div class="cooking-block">
      <label class="cooking-time">{{ label_for_cooking_time }}</label>
        {% include "@atoms/text/text/01-paragraph.twig" with {
          paragraph_size: recipe_card_minutes,
          paragraph_content: recipe_card_minutes_number ~ ' mins',
          paragraph_base_class: recipe_card_minutes_base_class,
          paragraph_modifiers: recipe_card_minutes_modifiers
        } %}
    </div>
    <div class="ingredients-block">
      <label class="ingredients">{{ label_for_ingredients }}</label>
        {% include "@atoms/text/text/01-paragraph.twig" with {
          paragraph_size: recipe_card_items_size,
          paragraph_content: recipe_card_items_number ~ ' items',
          paragraph_base_class: recipe_card_items_base_class,
          paragraph_modifiers: recipe_card_items_modifiers
        } %}
    </div>
  </div>

  <div {{ bem('details-button', [], recipe_card_base_class) }}>
    {% include "@atoms/links/defaultLink/defaultLink.twig" with {
      default_link_content: recipe_card_button_text,
      default_link_attributes: recipe_card_button_link_attributes,
      default_link_modifiers: recipe_card_button_modifiers
    } %}
  </div>
</section>
