{% set recipe_card_base_class = recipe_card_base_class|default('recipe-card') %}
{% set card__extra_classes = ['card-item'] %}
{{ attach_library('emulsifymars/recipe-card') }}

{% if select_background_color == 'color_c' %}
  {% set card__extra_classes = ['card-item', 'bg-color-C', 'bg-gradient-C'] %}
{% elseif select_background_color == 'color_d' %}
  {% set card__extra_classes = ['card-item', 'bg-color-D', 'bg-gradient-D'] %}
{% elseif select_background_color == 'color_e' %}
  {% set card__extra_classes = ['card-item', 'bg-color-E', 'bg-gradient-E'] %}
{% else %}
  {% set card__extra_classes = ['card-item'] %}
{% endif %}

<section {{ bem(recipe_card_base_class, [], '', card__extra_classes) }}
         data-theme="{{ theme_styles }}"
         data-card-type="recipe-card"
         data-site-search-clicked="{{ recipe_card_heading }}">

  {% if recipe_is_new %}
    {% include "@atoms/badge/badge.twig" %}
  {% endif %}

  <div {{ bem('media', [], recipe_card_base_class) }}>
    <a href={{recipe_card_media_url}}
      {% for attribute, value in recipe_card_heading_link_attributes %}
       {{ attribute }}="{{ value }}"
      {% endfor %}
      aria-label="{{ recipe_card_heading | mt }}"
    >
      {% set images = {
        1440: recipe_card_image_src|resizeWithGravity(318, 239, 'cover', '0.5x0.5'),
        768: recipe_card_image_src|resizeWithGravity(334, 251, 'cover', '0.5x0.5'),
        375: recipe_card_image_src|resizeWithGravity(315, 236, 'cover', '0.5x0.5'),
      } %}
      {% include "@atoms/images/image/_image.twig" with {
        output_image_tag: true,
        image_alt: recipe_card_image_alt,
        image_src: recipe_card_image_src|resizeWithGravity(318, 239, 'cover', '0.5x0.5'),
        responsive_image_blockname: 'recipe_image',
        image_array: images,
        height: '239px',
        width: '318px',
      } %}
    </a>
  </div>

  {# Eyebrow #}
  {% if recipe_card_eyebrow %}
    {% include "@atoms/text/headings/_heading.twig" with {
      heading: recipe_card_eyebrow,
      heading_level: 3,
      heading_base_class: 'eyebrow',
      text_color_override: text_color_override
    } %}
  {% endif %}

  {% include "@atoms/text/headings/_heading.twig" with {
    heading: recipe_card_heading,
    heading_level: recipe_card_heading_level,
    heading_url: recipe_card_button_link_attributes.href,
    heading_base_class: recipe_card_heading_base_class,
    heading_link_attributes: recipe_card_heading_link_attributes,
    text_color_override: text_color_override
  } %}

  <div {{ bem('labels_section', [], recipe_card_base_class) }}>
    <div class="cooking-block">
      <label class="cooking-time"
        {% if text_color_override is not empty %}
          style="color: {{ text_color_override }};"
        {% endif %}>
        {{ label_for_cooking_time }}
      </label>
        {% include "@atoms/text/text/01-paragraph.twig" with {
          paragraph_size: recipe_card_minutes,
          paragraph_content: recipe_card_minutes_number,
          paragraph_base_class: recipe_card_minutes_base_class,
          paragraph_modifiers: recipe_card_minutes_modifiers,
          text_color_override: text_color_override
        } %}
    </div>
    <div class="ingredients-block">
      <label class="ingredients"
        {% if text_color_override is not empty %}
          style="color: {{ text_color_override }};"
        {% endif %}>
        {{ label_for_ingredients }}
      </label>
        {% include "@atoms/text/text/01-paragraph.twig" with {
          paragraph_size: recipe_card_items_size,
          paragraph_content: recipe_card_items_number ~ ' items'|mt,
          paragraph_base_class: recipe_card_items_base_class,
          paragraph_modifiers: recipe_card_items_modifiers,
          text_color_override: text_color_override
        } %}
    </div>
  </div>

  <div {{ bem('details-button', [], recipe_card_base_class) }}>
    {% include "@atoms/links/defaultLink/defaultLink.twig" with {
      default_link_content: recipe_card_button_text,
      default_link_attributes: recipe_card_button_link_attributes,
      default_link_modifiers: recipe_card_button_modifiers
    } %}
  </div>
</section>
