{% set card__base_class = 'article-card' %}
{% set card__modifiers = [] %}
{% set card__extra_classes = ['card-item'] %}

{% if article_card_eyebrow %}
  {% set article_card_paragraph_modifiers = article_card_paragraph_modifiers|merge(['with-eyebrow']) %}
{% endif %}

{% if article_card_background_img_url == '' %}
  {% if select_background_color == 'color_c' %}
    {% set card__extra_classes = card__extra_classes | merge(['bg-color-C', 'bg-gradient-C']) %}
  {% elseif select_background_color == 'color_d' %}
    {% set card__extra_classes = card__extra_classes | merge(['bg-color-D', 'bg-gradient-D']) %}
  {% elseif select_background_color == 'color_e' %}
    {% set card__extra_classes = card__extra_classes | merge(['bg-color-E', 'bg-gradient-E']) %}
  {% endif %}
{% else %}
  {% set card__modifiers = card__modifiers | merge(['with-bg-img']) %}
{% endif %}

<section {{ bem(card__base_class, card__modifiers, '', card__extra_classes) }}
  {% if article_card_background_img_url != '' %}
    style="{{ 'background-image: url(' ~ article_card_background_img_url ~ ')' }}"
  {% endif %}

  data-card-type="article-card"
  data-site-search-clicked="{{ article_card_heading }}"
  data-theme="{{ theme_styles }}">

  {% if article_is_new %}
    {% include "@atoms/badge/badge.twig" %}
  {% endif %}

  {% if article_card_background_img_url == '' %}
    <div class="article-card__brand-shape">
      {{ brand_shape | raw }}
    </div>
  {% else %}
    <div class="bg-image">
      {% set images = {
        1440: article_card_background_img_url|resize(318, 520),
        768: article_card_background_img_url|resize(334, 520),
        375: article_card_background_img_url|resize(315, 520),
      } %}
      {% include "@atoms/images/image/responsive-image.twig" with {
        output_image_tag: true,
        image_alt: article_card_background_img_url,
        image_array: images,
        image_src: article_card_background_img_url|resize(318, 520),
      } %}
    </div>
  {% endif %}

  <div class="article-card__content">
    {# Eyebrow #}
    {% if article_card_eyebrow %}
      {% include "@atoms/text/headings/_heading.twig" with {
      heading: article_card_eyebrow,
      heading_level: 3,
      heading_base_class: 'eyebrow'
    } %}
    {% endif %}

    {% include "@atoms/text/headings/_heading.twig" with {
      heading: article_card_heading,
      heading_level: article_card_heading_level,
      heading_url: article_card_button_link_attributes.href,
      heading_base_class: article_card_heading_base_class
    } %}

    {% include "@atoms/text/text/01-paragraph.twig" with {
      paragraph_size: article_card_paragraph_size,
      paragraph_content: article_card_text,
      paragraph_base_class: article_card_paragraph_base_class,
      paragraph_modifiers: article_card_paragraph_modifiers
    } %}

    {% include "@atoms/links/defaultLink/defaultLink.twig" with {
      default_link_content: article_card_button_text,
      default_link_attributes: article_card_button_link_attributes,
      default_link_modifiers: article_card_button_modifiers
    } %}
  </div>
</section>
