{% set article_card_base_class = 'article-card' %}
{% if article_card_eyebrow %}
  {% set article_card_paragraph_modifiers = article_card_paragraph_modifiers|merge(['with-eyebrow']) %}
{% endif %}

{% if select_background_color == 'color_c' %}
  {% set card__extra_classes = ['article-card', 'card-item', 'bg-color-C', 'bg-gradient-C'] %}
{% elseif select_background_color == 'color_d' %}
  {% set card__extra_classes = ['article-card', 'card-item', 'bg-color-D', 'bg-gradient-D'] %}
{% elseif select_background_color == 'color_e' %}
  {% set card__extra_classes = ['article-card', 'card-item', 'bg-color-E', 'bg-gradient-E'] %}
{% else %}
  {% set card__extra_classes = [] %}
{% endif %}

<section
  {% if card__extra_classes|length > 0 and article_card_background_img_url == '' %}
    {{ bem('', '', '', card__extra_classes) }}
  {% else %}
    class="article-card article-card--with-bg-img card-item"
    style="{{ 'background-image: url(' ~ article_card_background_img_url ~ ')' }}"
  {% endif %}
  data-card-type="article-card"
  data-site-search-clicked="{{ article_card_heading }}"
  data-theme="{{ theme_styles }}">

  {% if article_is_new %}
    {% include "@atoms/badge/badge.twig" %}
  {% endif %}

  {% if  article_card_background_img_url == '' %}
    <div class="article-card__brand-shape">
      {{ brand_shape | raw }}
    </div>
  {% endif %}

  <div class="article-card__content">
    {# Eyebrow #}
    {% if article_card_eyebrow %}
      {% include "@atoms/text/headings/_heading.twig" with {
      heading: article_card_eyebrow,
      heading_level: 3,
      heading_base_class: 'eyebrow'
    } %}
    {% endif %}

    {% include "@atoms/text/headings/_heading.twig" with {
      heading: article_card_heading,
      heading_level: article_card_heading_level,
      heading_url: article_card_button_link_attributes.href,
      heading_base_class: article_card_heading_base_class
    } %}

    {% include "@atoms/text/text/01-paragraph.twig" with {
      paragraph_size: article_card_paragraph_size,
      paragraph_content: article_card_text,
      paragraph_base_class: article_card_paragraph_base_class,
      paragraph_modifiers: article_card_paragraph_modifiers
    } %}

    {% include "@atoms/links/defaultLink/defaultLink.twig" with {
      default_link_content: article_card_button_text,
      default_link_attributes: article_card_button_link_attributes,
      default_link_modifiers: article_card_button_modifiers
    } %}
  </div>
</section>
