{% set product_content_pair_up_base_class = 'product-content-pair-up' %}
{% if dark_overlay %}
  {% set product_content_pair_up__modifiers = ['dark-overlay'] %}
{% endif %}

<section {{ bem(product_content_pair_up_base_class, product_content_pair_up__modifiers) }} data-theme="{{ theme_styles }}">

  {% if title %}
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: 2,
      heading: title,
      heading_base_class: product_content_pair_up_base_class ~ '__heading'
    }
    %}

    {% include "@atoms/separators/graphic-divider/graphic-divider.twig" with {
      graphic_divider_blockname: product_content_pair_up_base_class,
      graphic_divider: graphic_divider
    } %}
  {% endif %}

  <div {{ bem('bg-image', [], product_content_pair_up_base_class) }}>
    {% set images = {
      1440: background|resize(1440,750),
      768: background|resize(768,1003),
      375: background|resize(375,845),
    } %}
    {% include "@atoms/images/image/responsive-image.twig" with {
      output_image_tag: true,
      image_alt: background_alt,
      image_src: background|resize(768,1003),
      image_array: images,
    } %}
  </div>
  <div {{ bem('container', [], product_content_pair_up_base_class) }}>
    <div {{ bem('lead-card', [], product_content_pair_up_base_class) }}>
      {% include "@atoms/text/eyebrow/eyebrow.twig" with {
        eyebrow_text: lead_card_eyebrow
      } %}

      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 3,
        heading: lead_card_title,
        heading_url: cta_link_url,
        heading_base_class: 'heading'
      }
      %}
      {% include "@atoms/links/defaultLink/defaultLink.twig" with {
        default_link_content: cta_link_text|default('Explore'|mt),
        default_link_modifiers: ['light'],
        default_link_attributes: {
          href: cta_link_url
        }
      } %}
    </div>
    <div {{ bem('supportive-card', [], product_content_pair_up_base_class) }}>
      {{ supporting_card_content }}
    </div>

  </div>
</section>
