{% set product_content_pair_up_base_class = 'product-content-pair-up' %}

<section class="{{ product_content_pair_up_base_class }}" data-theme="{{ theme_styles }}">

  {% if title %}
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: 2,
      heading: title,
      heading_base_class: product_content_pair_up_base_class ~ '__heading'
    }
    %}

    <div {{ bem('graphic-divider', [], product_content_pair_up_base_class) }}>
      {{ graphic_divider | raw }}
    </div>
  {% endif %}

  <div {{ bem('container', [], product_content_pair_up_base_class) }}>
    <div class="lead-card">
      <div class="bg-image">
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_alt: background,
          image_srcset: background,
          image_sizes: '(max-width: 375px) 375px,
                (max-width: 768px) 768px,
                1440px',
          image_src: background,
          height: '300px'
        } %}
      </div>
      <div class="wrapper">
        <div class="content-pair-up-eyebrow">
          {% include "@atoms/text/eyebrow/eyebrow.twig" with {
            eyebrow_text: lead_card_eyebrow
          } %}
        </div>
        {% include "@atoms/text/headings/_heading.twig" with {
          heading_level: 3,
          heading: lead_card_title,
          heading_url: cta_link_url,
          heading_base_class: 'heading'
        }
        %}
        {% include "@atoms/links/defaultLink/defaultLink.twig" with {
          default_link_content: cta_link_text|default('Explore'|mt),
          default_link_attributes: {
            href: cta_link_url
          }
        } %}
      </div>

      <div class="supportive-card">
        <div class="wrapper">
          {{ supporting_card_content }}
        </div>
      </div>
    </div>
  </div>
</section>
