{% set inline__base_class = 'article-inline' %}
{% set aspect_ratio = aspect_ratio %}

<section {{ bem(inline__base_class) }} data-theme="{{ theme_styles }}"
  {% if heading and media_type == 'video' %}
    data-component-title="{{ heading }}"
  {% endif %}
>
  <div {{ bem('heading', [], inline__base_class) }}>
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: 3,
      heading_base_class: 'article-inline__heading',
      heading_modifiers: ['main-heading'],
      heading: heading
    } %}
  </div>

  {% if shape_motif %}
    <div class="article-inline__brand-shape">
      {{ shape_motif | raw }}
    </div>
  {% endif %}

  {% if media_type == 'image' %}
    <div {{ bem('media', [], inline__base_class) }}>
      {% set images = {
        1440: image_src|resize(780, 439),
        768: image_src|resize(688, 387),
        375: image_src|resize(335, 223),
      } %}
      <div {{ bem('aspect-ratio-wrapper', [ aspect_ratio ]) }}>
        {% include "@atoms/images/image/_image.twig" with {
          image_base_class: base_class,
          image_modifiers: image_modifiers,
          image_blockname: image_blockname,
          image_src: image_src|resize(780, 439),
          image_alt: image_alt,
          image_title: image_title,
          image_array: images,
        } %}
      </div>
    </div>
  {% elseif media_type == 'video' %}
    {{ attach_library('emulsifymars/inline-video') }}
    {% include "@atoms/video/inline-video/video.twig" with {
      video__src__url: video_src,
      video__control: video__control | default(false),
      data_layer: data_layer,
      hide_volume: hide_volume,
      thumbnail_video_time: thumbnail_video_time,
    } %}
  {% endif %}

  {% if content %}
    <div {{ bem('content', [], inline__base_class) }}>
      {% include "@atoms/text/text/01-paragraph.twig" with {
        paragraph_size: paragraph_size,
        paragraph_content: content,
        paragraph_base_class: paragraph_base_class,
        paragraph_modifiers: paragraph_modifiers
      } %}
    </div>
  {% endif %}
</section>



