{#
/**
 * @file
 * Ordered list component.
 * 'ol_items' => NULL,
 */
#}

<div {{ bem('block list-container-block') }} data-theme="drupal">
    {{ title_prefix }}
    {% if label %}
        <h2{{ title_attributes.addClass('list-container-header') }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
        <div class="list-container" data-theme="drupal">
            {% include "@atoms/lists/ol.twig" with {
                ol_items: ol_items
            } %}
        </div>
    {% endblock %}
</div>
