{#
/**
 * @file
 * Template for the salesforce form component.
 *
 * Available variables:
 * 'form_type' => NULL
 * 'form_id' => NULL
 */
#}
{% set newsletter_signup__base_class = 'form-integration' %}

{% if form_type == 'formstack' %}
  <section {{ bem(newsletter_signup__base_class) }}>
    <div {{ bem(form_type, [], newsletter_signup__base_class) }}>
      <script type="text/javascript" id="jsFastForms" src="https://sfapi-sandbox.formstack.io/FormEngine/Scripts/Main.js?d={{ form_id }}"></script>
    </div>
  </section>
{% elseif form_type == 'salesforce' %}
  <section {{ bem(newsletter_signup__base_class) }}>
    <div {{ bem(form_type, [], newsletter_signup__base_class) }}>
      <iframe src="http://cloud.confectionery.mars.com/{{ form_id }}"></iframe>
    </div>
  </section>
{% endif %}