{#
/**
 * @file
 * Template for the PDP Product Multipack component.
 */
#}
{{ attach_library('emulsifymars/pdp-multipack') }}
{% set pdp_multipack_base_class = pdp_multipack_base_class|default('pdp-multipack') %}
{% set theme_styles = 'drupal' %}
{% set multipack_see_all_label = 'See all' | mt %}
{% set multipack_see_all_attributes = {
  'id': 'multipack-see-all',
  'href': '#',
} %}

<section {{ bem(pdp_multipack_base_class) }} data-theme="{{ theme_styles }}">
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 5,
    heading: multipack_label,
    heading_blockname: pdp_multipack_base_class,
    heading_base_class: 'header',
  } %}
  <div id="pdp-multipack">
    <div class="swiper-container pdp-multipack-swiper-container">
      <div class="swiper-wrapper">
        {{ multipack_view }}
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
  <div {{ bem('see-all-container', [], pdp_multipack_base_class) }}>
    {% include "@atoms/links/defaultLink/defaultLink.twig" with {
      default_link_content: multipack_see_all_label,
      default_link_attributes: multipack_see_all_attributes,
      default_link_modifiers: ['multipack-see-all-button'],
    } %}
  </div>
</section>
