{% set polling_base_class = polling_base_class | default('polling') %}
{% set polling_heading_level = polling_heading_level | default(2) %}
{% set polling_heading_base_class = polling_heading_base_class | default('polling__heading') %}
{% set polling_paragraph_base_class = polling_paragraph_base_class | default('polling__paragraph') %}
{% set polling_fieldset_modifier = (choices|length == 3) ? 'column-layout' : '' %}

<section {{ bem(polling_base_class) }} data-theme="{{ theme_styles }}">
  <div class="polling__png-asset">
    {% include "@atoms/images/image/responsive-image.twig" with {
      output_image_tag: true,
      image_alt: polling_png_asset_alt,
      image_src: polling_png_asset,
      height: '187px',
      width: '350px',
    } %}
  </div>

  <div class="polling__content">
    {% include "@atoms/text/headings/_heading.twig" with {
      heading: polling_heading,
      heading_level: polling_heading_level,
      heading_base_class: polling_heading_base_class
    } %}

    {% include "@atoms/text/text/01-paragraph.twig" with {
      paragraph_content: polling_paragraph_content,
      paragraph_base_class: polling_paragraph_base_class
    } %}

    <form class="polling__form polling__form--submitted">
      <div {{ bem('polling__fieldset', [polling_fieldset_modifier]) }}>
        {% for key, result in results %}
          <label class="polling__label" for="edit-choice-{{key}}">
            <input
                disabled="disabled"
                class="polling__radio polling__radio--submitted"
                type="radio"
                name="{{result['#value']}}"
                id="edit-choice-{{key}}"
                value="edit-choice-{{key}}"
                {% if result.key == my_vote %}checked="checked"{% endif %}
            />
            <span class="polling__label-text">{{result['#choice']}}</span>
            <span class="polling__percentage">{{result['#percentage'] ~ '%'}}</span>
            <span class="polling__bar" style="right: {{(100 - result['#percentage']) ~ '%'}}"></span>
          </label>
        {% endfor %}
      </div>

      <div class="polling__submitted">
        <div class="polling__submitted-img">
            <div class="polling__brand-shape">{{brand_shape | raw}}</div>
            <div class="polling__tick">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" fill="none" viewBox="0 0 26 19">
                <path fill="#E62B1E" fill-rule="evenodd" d="M24.828.944c.546.545.546 1.43 0 1.976L9.453 18.296c-.546.546-1.431.546-1.977 0l-6.989-6.99c-.546-.545-.546-1.43 0-1.976s1.43-.546 1.977 0l6 6L22.851.945c.546-.546 1.431-.546 1.977 0z" clip-rule="evenodd"/>
              </svg>
            </div>
        </div>
        <div class="polling__submitted-text">{{polling_submitted_text}}</div>
      </div>
    </form>
  </div>
</section>
