{% set polling_base_class = polling_base_class | default('polling') %}
{% set polling_heading_level = polling_heading_level | default(2) %}
{% set polling_heading_base_class = polling_heading_base_class | default('polling__heading') %}
{% set polling_paragraph_base_class = polling_paragraph_base_class | default('polling__paragraph') %}

<section {{ bem(polling_base_class) }} data-theme="{{ theme_styles }}">
  <div class="polling__png-asset">
    {% include "@atoms/images/image/responsive-image.twig" with {
      output_image_tag: true,
      image_alt: polling_png_asset_alt,
      image_src: polling_png_asset,
    } %}
  </div>

  <div class="polling__content">
    {% include "@atoms/text/headings/_heading.twig" with {
      heading: polling_heading,
      heading_level: polling_heading_level,
      heading_base_class: polling_heading_base_class
    } %}

    {% include "@atoms/text/text/01-paragraph.twig" with {
      paragraph_content: polling_paragraph_content,
      paragraph_base_class: polling_paragraph_base_class
    } %}

    <form class="polling__form">
      <div class="polling__fieldset">
        {% for choice in choices %}
          <label class="polling__label" for="{{choice.value}}">
            <input 
                disabled="true"
                class="polling__radio polling__radio--submitted" 
                type="radio" 
                name="{{choice.name}}" 
                id="{{choice.value}}" 
                value="{{choice.value}}" 
                checked={{choice.value is same as(user_vote)}}
            />
            <span class="polling__label-text">{{choice.label}}</span>
            <span class="polling__percentage">{{choice.votes ~ '%'}}</span>
            <span class="polling__bar" style="right: {{100 - choice.votes ~ '%'}}"></span>
          </label>
        {% endfor %}
      </div>
      
      <div class="polling__submitted">
        <div class="polling__submitted-img">
            <div class="polling__brand-shape">{{brand_shape | raw}}</div>
            <div class="polling__tick">{{tick | raw}}</div>
        </div>
        <div class="polling__submitted-text">{{polling_submitted_text}}</div>
      </div>
    </form>
  </div>
</section>
