{% set homepage_hero_basic_base_class = 'homepage-hero-basic' %}
{% if dark_overlay %}
  {% set homepage_hero__modifiers = ['dark-overlay'] %}
{% endif %}
{{ attach_library('emulsifymars/homepage-herobanner-text') }}

<section {{ bem(homepage_hero_basic_base_class) }} data-theme="{{ theme_styles }}">
  <div {{ bem('background', [], homepage_hero_basic_base_class, homepage_hero__modifiers) }}>
    <div {{ bem('container', ['image'], homepage_hero_basic_base_class) }}>

      {% set images = {
        1440: hero_images.desktop.src|resize(1440, 580),
        768: hero_images.tablet.src|resize(768, 580),
        560: hero_images.mobile.src|resize(560, 580),
      } %}
      {% include "@atoms/images/image/responsive-image.twig" with {
        output_image_tag: false,
        image_alt: hero_images.desktop.alt,
        image_title: hero_images.desktop.title,
        image_src: hero_images.desktop.src|resize(1440, 580),
        responsive_image_blockname: 'homepage-hero-basic',
        image_array: images,
        width: "1440px",
	      height: "580px",
      } %}
    </div>
  </div>

  {% if homepage_hero_basic_content %}
    <div {{ bem('content', [], homepage_hero_basic_base_class) }} >
      {% include "@atoms/text/headings/_heading_next_line.twig" with {
        heading_level: 1,
        heading: homepage_hero_basic_content,
        heading_base_class:'homepage-hero-basic__heading'
      }%}
    </div>
  {% else %}
    <div {{ bem('content', [], homepage_hero_basic_base_class) }} >
      {% include "@atoms/text/headings/_heading_next_line.twig" with {
        heading_level: 1,
        heading_override: title_label_override,
        heading_base_class:'homepage-hero-basic__heading'
      }%}
    </div>
  {% endif %}
</section>
