{% set homepage_hero_basic_base_class = 'homepage-hero-basic' %}
{% set dark_overlay = true %}
{% if dark_overlay %}
  {% set homepage_hero__modifiers = ['dark-overlay'] %}
{% endif %}

<section {{ bem(homepage_hero_basic_base_class) }} data-theme="{{ theme_styles }}">
  <div {{ bem('background', [], homepage_hero_basic_base_class, homepage_hero__modifiers) }} style="background-image:url('{{ homepage_hero_basic_img.src }}');"></div>

  <div {{ bem('content', [], homepage_hero_basic_base_class) }} >
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: 1,
      heading: homepage_hero_basic_content,
      heading_base_class:'homepage-hero-basic__heading'
    }%}
  </div>
</section>
