{% set homepage_hero_basic_base_class = 'homepage-hero-basic' %}

<section {{ bem(homepage_hero_basic_base_class) }} data-theme="{{ theme_styles }}">
  <div {{ bem('background', [], homepage_hero_basic_base_class, homepage_hero__modifiers) }}>
    <div {{ bem('container', ['image'], homepage_hero_basic_base_class) }}>
      {% set images = {
        1440: homepage_hero_basic_img.src|resizeByHeight(580),
        768: homepage_hero_basic_img.src|resizeByHeight(580),
        375: homepage_hero_basic_img.src|resizeByHeight(580),
      } %}
      {% include "@atoms/images/image/responsive-image.twig" with {
        output_image_tag: true,
        image_alt: '',
        image_src: homepage_hero_basic_img.src|resizeByHeight(580),
        responsive_image_blockname: 'homepage-hero-basic',
        image_array: images,
      } %}
    </div>
  </div>

  <div {{ bem('content', [], homepage_hero_basic_base_class) }} >
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: 1,
      heading: homepage_hero_basic_content,
      heading_base_class:'homepage-hero-basic__heading'
    }%}
  </div>
</section>
