{% set homepage_hero__base_class = 'homepage-hero-3up' %}
{% if blocks %}
  {% set homepage_hero__modifiers = ['left-right-block'] %}
{% endif %}
{% if dark_overlay %}
  {% set homepage_hero_inner__modifiers = ['dark-overlay'] %}
{% endif %}
{{ attach_library('emulsifymars/homepage-herobanner-text') }}

<section {{ bem(homepage_hero__base_class, homepage_hero__modifiers) }} data-theme="{{ theme_styles }}">
  <div {{ bem('inner', [], homepage_hero__base_class, homepage_hero_inner__modifiers) }}>
    <div {{ bem('left', [], homepage_hero__base_class) }} >
      <div class="wrapper">
        <div {{ bem('container', ['image'], homepage_hero__base_class) }}>
          {% set images = {
            1440: hero_images.desktop.src|resize(937,580),
            768: hero_images.tablet.src|resize(768,601),
            375: hero_images.mobile.src|resize(375,435),
          } %}
          {% include "@atoms/images/image/responsive-image.twig" with {
            output_image_tag: false,
            image_alt: hero_images.desktop.alt,
            image_title: hero_images.desktop.title,
            image_src: hero_images.desktop.src|resize(768,601),
            responsive_image_blockname: 'homepage-hero-3up',
            image_array: images,
            width: "936px",
	          height: "656px",
          } %}
        </div>
        <div class="container">
          <div {{ bem('container', ['hero-text'], homepage_hero__base_class) }}>
        {% include "@atoms/text/eyebrow/eyebrow.twig" with {
          eyebrow_text: eyebrow
        } %}

        {% include "@atoms/text/headings/_heading_next_line.twig" with {
          heading_level: 2,
          heading: title_label,
          heading_override: title_label_override,
          heading_base_class:'heading',
          heading_url: title_href
        }
        %}

        {% include "@atoms/links/defaultLink/defaultLink.twig" with {
          default_link_content: cta_title,
          default_link_attributes: cta_link_attributes
        } %}
        </div>
      </div>
    </div>
   </div>

  {% if blocks %}
    <div {{ bem('right', [], homepage_hero__base_class) }}>
      <div {{ bem('right__wrapper', [], homepage_hero__base_class) }}>
        {% if brand_shape %}
          <div {{ bem('brand-shape', [], homepage_hero__base_class) }}>
            {{ brand_shape | raw }}
          </div>
        {% endif %}
        {% for block in blocks %}
          {% include "@molecules/homepage-hero/3up/homepage-hero-block.twig" with {
            separate_class: 'block-' ~ loop.index,
            block_eyebrow_text: block.eyebrow,
            block_title_label: block.title_label,
            block_title_href: block.title_href,
            block_image: block.image.0,
            cta_block: block.cta.0
          }%}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</section>
