{% set homepage_hero__base_class = 'homepage-hero-3up' %}
{% if dark_overlay %}
  {% set homepage_hero__modifiers = ['dark-overlay'] %}
{% endif %}

<section {{ bem(homepage_hero__base_class) }} data-theme="{{ theme_styles }}">
  <div {{ bem('inner', [], homepage_hero__base_class, homepage_hero__modifiers) }}>
    <div {{ bem('left', [], homepage_hero__base_class) }} >
      <div class="wrapper">
        <!-- style="background-image:url('{{ hero_image.src }}');" -->
        <div {{ bem('container', ['image'], homepage_hero__base_class) }}>
          {% set images = {
            1440: hero_image.src|resizeByHeight(656),
            768: hero_image.src|resizeByHeight(600),
            375: hero_image.src|resizeByHeight(435),
          } %}
          {% include "@atoms/images/image/responsive-image.twig" with {
            output_image_tag: true,
            image_alt: '',
            image_src: hero_image.src|resizeByHeight(656),
            responsive_image_blockname: 'homepage-hero-3up',
            image_array: images,
            width: "936px",
	          height: "656px",
          } %}
        </div>
        <div {{ bem('container', ['hero-text'], homepage_hero__base_class) }}>
       {% include "@atoms/text/eyebrow/eyebrow.twig" with {
         eyebrow_text: eyebrow
       } %}

       {% include "@atoms/text/headings/_heading.twig" with {
         heading_level: 2,
         heading: title_label,
         heading_base_class:'heading',
         heading_url: title_href
       }
       %}

       {% include "@atoms/links/defaultLink/defaultLink.twig" with {
         default_link_content: cta_title,
         default_link_attributes: cta_link_attributes
       } %}
      </div>
    </div>
   </div>

  {% if blocks %}
    <div {{ bem('right', [], homepage_hero__base_class) }}>
      <div {{ bem('right__wrapper', [], homepage_hero__base_class) }}>
        {% if brand_shape %}
          <div {{ bem('brand-shape', [], homepage_hero__base_class) }}>
            {{ brand_shape | raw }}
          </div>
        {% endif %}
        {% for block in blocks %}
          {% include "@molecules/homepage-hero/3up/homepage-hero-block.twig" with {
            separate_class: 'block-' ~ loop.index,
            block_eyebrow_text: block.eyebrow,
            block_title_label: block.title_label,
            block_title_href: block.title_href,
            block_image: block.image.0,
            cta_block: block.cta.0
          }%}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</section>
