{#
/**
 * @file
 * Template for the   component.
 *
 * Available variables:
 */
#}

{#{% set image_src = file_url(image.image.entity.fileuri) %}#}

{{ form.messages }}
{#show_question#}
{#[#}
{#{#}
{#label: 'first thing',#}
{#value: 'asd3',#}
{#name: 'should be the same for every item'#}
{#},#}
{#{#}
{#label: 'first thing',#}
{#value: 'asd4',#}
{#name: 'should be the same for every item'#}
{#}#}
{#]#}
{% include "@molecules/polls/poll.twig" with {
  theme_styles: 'drupal',
  polling_heading: question,
  polling_paragraph_content: form.poll['#value'].field_description.value,
  polling_submit_label: 'Send',
  choices: form.choice['#options'],
  vote_button: form.actions.vote,
  hidden_form_inputs: form|without('actions', 'choice', 'messages', 'question')
} %}

{#{{ form.actions.vote }}#}

{#{{ form.messages }}#}
{#<div class="poll">#}
{#  <div class="vote-form">#}
{#    {% if show_question %}#}
{#      <h3 class="poll-question">{{ question }}</h3>#}
{#    {% endif %}#}

{#    {{ form.choice }}#}

{#    {{ form.actions }}#}
{#  </div>#}
{#  {{ form|without('actions', 'choice', 'messages', 'question') }}#}
{#</div>#}
