{#
/**
 * Available variables:
 * - button_content - the content of the button (typically text)
 *
 * Available blocks:
 * - button_content - used to replace the content of the button with something other than text
 *   for example: to insert an icon
 */
#}

{% set button_base_class = button_base_class|default('button') %}
{% set aria_label = aria_label|default(button_content) %}

<button
  {{ bem(button_base_class, button_modifiers, button_blockname) }}
  aria-label= "{{ aria_label }}"
  {% for attribute, value in button_attributes %}
    {{ attribute }}="{{ value }}"
  {% endfor %}
>
  {% block button_content %}
    <span>{{ button_content }}</span>
  {% endblock %}
</button>
