{% set search_filter_container_base_class = 'search-filter-container' %}
{% set search_filter_block_base_class = 'search-filter-block' %}
{% set search_filter_header_base_class = 'search-filter-header' %}
{% set search_filter_content_base_class = 'search-filter-content' %}
{% set search_filter_footer_base_class = 'search-filter-footer' %}
{% set search_filter_information_base_class = 'search-filter-info' %}

<div {{ bem(search_filter_container_base_class) }} data-theme="twix">
  <div class="search-filter-open-button">Filter</div>
  <div {{ bem(search_filter_block_base_class, ['opened']) }}>
    <div {{ bem(search_filter_header_base_class) }}>
      <div {{ bem('title', [], search_filter_header_base_class) }}>{{ title }}</div>
      <div {{ bem('close', [], search_filter_header_base_class) }}></div>
    </div>
    <div {{ bem(search_filter_content_base_class) }}>
      {% for item in items %}
        {% include "@molecules/filter/filter.twig" with {
          filter_title: item.filter_title,
          checkboxes: item.checkboxes,
        } %}
      {% endfor %}
    </div>
    <div {{ bem(search_filter_footer_base_class) }}>
      <a href="#" {{ bem('button', ['clear-all'], search_filter_block_base_class) }}>{{ "Clear All" | t }}</a>
      <a href="#" {{ bem('button', ['highlighted', 'apply'], search_filter_block_base_class) }}>{{ "Apply" | t }}</a>
    </div>
  </div>
  <div {{ bem(search_filter_information_base_class) }}>
    <div {{ bem('applied', [], search_filter_information_base_class) }}>
      <div {{ bem('applied-label', [], search_filter_information_base_class) }}>
        {{ "Applied filters (" | t }}<span {{ bem('applied-count', [], search_filter_information_base_class) }}></span>{{ "):" | t }}
      </div>
      <div {{ bem('applied-text', [], search_filter_information_base_class) }}></div>
    </div>
    <div {{ bem('clear', [], search_filter_information_base_class) }}>
      <a href="#" {{ bem(['button'], ['simple', 'clear-all'], search_filter_block_base_class) }}>{{ "Clear All" | t }}</a>
    </div>
  </div>
</div>
