{{ attach_library('emulsifymars/social-feed') }}
{% set social_feed_base_class = social_feed_base_class|default('social-feed') %}
{% set border_overflow = overlaps_previous ? '' : 'no-overflow' %}
{% if title %}
  {% set title = title %}
{% else %}
  {% set title = storybook_social_feed_title %}
{% endif %}
{% if items %}
  {% set items = items %}
{% else %}
  {% set items = storybook_social_feed_items %}
{% endif %}

<section id="social-feed" {{ bem(social_feed_base_class, []) }} data-theme="{{theme_styles}}"
  {% if select_background_color|length > 0 %}
    style="background-color: {{ 'var(' ~ select_background_color ~ ')' }}"
  {% endif %}
>
  {% if brand_border is not empty %}
    {% block brand_border %}
      <div {{  bem('border', [border_overflow], social_feed_base_class)  }}>
        {{ brand_border | raw }}
      </div>
    {% endblock %}
  {% endif %}

  <div class="social-feed__content"
    {% if select_background_color|length > 0 %}
      style="background-color: {{ 'var(' ~ select_background_color ~ ')' }}"
    {% endif %}
  >
    <div class="social-feed__heading">
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 2,
        heading_base_class: 'social-feed__heading',
        heading_modifiers: ['main-heading'],
        heading: title
      } %}
    </div>

    {% include "@atoms/separators/graphic-divider/graphic-divider.twig" with {
      graphic_divider_blockname: social_feed_base_class,
      graphic_divider: graphic_divider
    } %}

    <div class="social-feed-swiper-container-outer">
      <button type="button" class="swiper-button-prev">
        {% include "@atoms/images/icons/_icon.twig" with {
        icon_base_class: "icon",
        icon_blockname: "swiper-button-prev",
        icon_name: "carousel_arrow_prev",
        icon_decorative: true,
        } %}
      </button>

      <div class="swiper-container social-feed-swiper-container">
        <div class="swiper-wrapper">
            {% for item in items %}
              {% include "@molecules/slide/social-feed-slide/social-feed-slide.twig" with { 
                item: item,
                feed_date_toggle: social_feed_date_toggle,
              } %}
            {% endfor %}
        </div>
      </div>

      <button type="button" class="swiper-button-next">
        {% include "@atoms/images/icons/_icon.twig" with {
          icon_base_class: "icon",
          icon_blockname: "swiper-button-next",
          icon_name: "carousel_arrow_next",
          icon_decorative: true,
        } %}
      </button>
    </div>
    <div class="swiper-scrollbar" aria-hidden="true"></div>
  </div>
</section>
